[2022-04-15 21:51] centercirclesolutions opened #631 "Add API Endpoint for Space Members"
**Describe the Endpoint**
A user needs to have a full list of their members for a space. Please provide an API endpoint for this.

[2022-04-15 23:42] PiernasLocas69 opened #632 "My NFT is gone Help please"
I was using Soonaverse with my phone and i was on my profile trying to cancel the sale from my NFT from TangleSwap

I selected not for sale and clicked Confirm. Then it was taking too much time to sign and i clicked in cancel Sign

Then i did back with the browser and i saw a message about Sign i clicked cancel and then my NFT dissappeared from my list...

i tried to log out from soonaverse and lo

[2022-04-15 23:46] #632 closed

[2022-04-15 23:48] PiernasLocas69 commented on #632
Nevermind.. exactly in the same moment i was cancelling the sale well the NFT was sold..  lol

sorry you can delete this post

[2022-04-16 01:23] csxiong opened #633 "The list of members of a space does not automatically show the remains at the bottom"
**Describe the bug**
check this space [Rasa NFT Park](https://soonaverse.com/space/0x1c38f9a01e1399d42c970a3f27a8cbbc4e6a4ba6/members)
It has more than 100 members, but only 50 can be displayed. When the page is pulled to the bottom, it does not automatically fetch and display the next batch of members.

**To Reproduce**
It can be reproduced without a detailed description.

**Expected behavior**
A

[2022-04-16 05:13] humaint opened #635 "Re-open checkout does not work"
![SCR-20220416-l1z.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/4b953676-417f-4fee-96c8-fc048c11109c)

- try to buy NFT
- lock the transaction
- refresh the page
- clcck open checkout at the popup

->it should open the popup again, not it doesnt do anything

[2022-04-16 05:14] humaint opened #636 "Notifications are out of the screen - mobile"
![SCR-20220416-l5b.jpeg](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/545049cf-93cd-43a9-a5b2-831d156c1cf8)

[2022-04-16 05:18] humaint opened #637 "more of dark mode / light mode UI issues"
![SCR-20220416-l54.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/ded346cd-f9a7-4647-928d-d261acdb97b4)![SCR-20220416-l2o.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/ec5c722f-8bb4-45d7-aee9-008ce9158999)![SCR-20220416-l2d.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/96635436-5dcf-4bd4-8e72-daf155b1e414)![SCR-20220416-l1d.png](https:/

[2022-04-16 05:20] humaint commented on #637
+ @Gundavri update the home screen banner according to the design:
- mirror the image so the character is on the right side
- use transparent dark overlay so text is better readable, use the same as in figma
https://www.figma.com/file/bCO54KioJBPG00LUX4yBLi/Soonaverse-%E2%80%94-WebApp-(Darkmode)?node-id=2736%3A33052

![SCR-20220416-la2.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe

[2022-04-16 05:22] humaint commented on #637
+ this goes to our designer, pls adjust a new backgroundsSecondary color to #1B1A18
https://www.figma.com/file/bCO54KioJBPG00LUX4yBLi/Soonaverse-%E2%80%94-WebApp-(Darkmode)?node-id=105%3A178

![SCR-20220416-lcr.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/e147431f-5405-41b1-887f-a2f32e54543a)

[2022-04-16 05:26] humaint commented on #531
@Gundavri pls add new badge to the NFT that it's available only for specific users + implement logic when to show

https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=3405%3A36126

![SCR-20220416-lg0.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/6797d8f3-4912-4146-bacc-3309430633f5)

[2022-04-16 05:29] humaint commented on #531
+ add a new box to the NFT detail only for this restriction

https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=1934%3A33496

![SCR-20220416-liw.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/91c1b3ac-f563-46e7-ad8d-75d90e87bcfa)

[2022-04-16 05:33] humaint commented on #475
@Gundavri pls update creating award section according to following:

- first input will be XP per badge
- second input Number of badges

the last row calculates the Total XP = not editable, it will simply takes xp per badge * number of badges and shows the value

https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=2736%3A43121

![SCR-20220416-llk.png](https://imag

[2022-04-16 05:33] adamunchained commented on #630
This has been fixed in production.

NFT is picked randomly at the order stage. It uses position of a NFT within collection as an input to increase randomness. The position was not correctly set within NFT records and it significantly reduced (not completely) randomness. Typically creators would randomize their collection (properties/stats) as part of their upload but unfortunately this not has hap

[2022-04-16 05:33] #630 closed

[2022-04-16 05:38] humaint commented on #637
@adamunchained reported some other issues here https://app.zenhub.com/workspaces/public-master-61a51a3547b2090011dce2d2/issues/soonlabs/soonaverse/650

[2022-04-16 07:22] Phyloiota opened #638 "IP / DMCA Request: IOTA Logo"
Collection https://soonaverse.com/collection/0x70bb9d7937acf49ea88e9dff174308b31cbfef4d sells IOTA Logos, which is IP of the IOTA Foundation

Please remove it.

Thanks

SoonLabs responds to notices alleging copyright infringement that comply with the United States Digital Millennium Copyright Act (the “DMCA”).  If you wish to make a DMCA claim, you must provide the following information in writing

[2022-04-16 09:14] centercirclesolutions opened #640 "[Payment Issue]: No Refund issued for purchase"
### Discord Name

Wanderer#7876

### Soonaverse Profile Id

0xf67F0a051fd60bC77ac410D26b4cD10E8b4a21d2

### Payment Action

Purchase NFT from Collection

### Payment Problem

I made a purchase and did not receive an NFT nor a refund.

### Wallet Type

FireFly

### Wallet Version

1.4.2

### Payment Sent to Address

iota1qp2smwu280exfuz2l982djzm4tycqr33f644s6u9h5fam0uushpexfu63zk

### Amount Sent

[2022-04-16 13:28] LordSciFi opened #641 "Collection release date & time not available"
**Describe the bug**
A clear and concise description of what the bug is.
When one wants to create a collection for the next day (in exactly 24h) one can not pick the desired time for the collection to release. The buttons appear grey (see screenshot) for the next day. Also when i created the collection it was 15. April 09:20 CEST. I could only pick 14:25, 14:30, 14:35, 14:40, 14:45, 14:50, 14:55.

[2022-04-16 14:25] adamunchained commented on #640
There were delays with handful transactions and it should be now processed.

[2022-04-16 14:25] #640 closed

[2022-04-16 15:28] iotaholics opened #642 "Transfer an NFT"
**Describe the bug**
I am from the collection IOTAHOLICS.
I am transferring the NFTs to the giveaway winners and when I want to put the name in "Specific member(s) only (Transfer)" there are a couple of accounts that do not appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Your NFT'
2. Click on 'Sell NFT'
3. Click on 'Fixed price'
4. Scroll down to 'Specific member(s) only (Tran

[2022-04-16 15:33] Phyloiota opened #643 "IP / DMCA Request: IOTA Logo"
This collection is violating the IF IP - please remove: https://soonaverse.com/collection/0x0ecc0c3139d957eb9b7472cce9d899b839a23108

SoonLabs responds to notices alleging copyright infringement that comply with the United States Digital Millennium Copyright Act (the “DMCA”).  If you wish to make a DMCA claim, you must provide the following information in writing in your DMCA notice:

- identify t

[2022-04-16 15:46] Phyloiota opened #644 "IP / DMCA Request: IOTA Logo"
This collection is violating the IP of the IOTA foundation, please remove:  https://soonaverse.com/collection/0x0b88a9c1d1515f9f2cfc3798d7216ad2eef3201e

SoonLabs responds to notices alleging copyright infringement that comply with the United States Digital Millennium Copyright Act (the “DMCA”).  If you wish to make a DMCA claim, you must provide the following information in writing in your DMCA n

[2022-04-16 20:33] 0xLon opened #645 "[Payment Issue]:"
### Discord Name

Lon#6438

### Soonaverse Profile Id

0xc33E15c9FE58Bbe234Ed0b8b8c1b8108E0F0b48E

### Payment Action

Purchase NFT from Collection

### Payment Problem

I made a purchase and did not receive an NFT nor a refund.

### Wallet Type

TanglePay

### Wallet Version

1.2.3

### Payment Sent to Address

iota1qz3p2v7uqw3n5k0nyg3jrhvnpj2kywyajavwxwhaxn2fuwg20w6kgacpfwj

### Amount Sent

200

[2022-04-16 20:35] centercirclesolutions commented on #645
This transaction was not refunded

[2022-04-16 23:59] adamunchained commented on #645
This has been refunded and other few failed transactions. We'll be improving process further when we have such huge peak to handle the scalability better.

[2022-04-17 00:02] 0xLon commented on #645
Thank you so much ! So, i'll be able to buy again?

[2022-04-17 00:49] centercirclesolutions commented on #645
You can purchase any NFT that is available.

[2022-04-17 01:01] #645 closed

[2022-04-17 02:56] adamunchained commented on #644
done

[2022-04-17 02:56] #644 closed

[2022-04-17 02:56] adamunchained commented on #643
removed

[2022-04-17 02:56] #643 closed

[2022-04-17 14:03] fionn1989 commented on #643
IOTA Logo related information from Iota page:
_The IOTA logo symbolizes the IOTA Tangle and its associated suite of open-source distributed ledger and machine-to-machine technologies. This logo is permissively and non-exclusively licensed under the Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) license. The full legal text of the license should be consulted here_.

If we

[2022-04-17 14:20] fionn1989 opened #646 "Collection incorrectly rejected"
Issue #643 was reporting an IF Copyright infraction due to the use of the IOTA logo in the following collection:
https://soonaverse.com/collection/0x0ecc0c3139d957eb9b7472cce9d899b839a23108

IOTA Logo related information from Iota page:
_The IOTA logo symbolizes the IOTA Tangle and its associated suite of open-source distributed ledger and machine-to-machine technologies. This logo is permissively

[2022-04-17 15:35] adamunchained commented on #646
@Phyloiota can you comment?

[2022-04-17 15:36] adamunchained commented on #638
rejected

[2022-04-17 15:36] #638 closed

[2022-04-17 15:56] Phyloiota commented on #646
![image](https://user-images.githubusercontent.com/77154511/163722319-a6ae347a-4be5-4398-bcc8-43b2551784f5.png)

From our Website:
The IOTA project has two main logos: the IOTA logo and the IOTA Foundation logo. Both sets of logos are trademarked. However, they are subject to different licensing schemes and separate usage policies:

Persons or entities wishing to use either logo should carefully r

[2022-04-17 18:29] fionn1989 commented on #646
Thanks Phyloiota,

First of all, IOTA Foundation logos have not been used, so lets exclude them from the discusion.

The IOTA logo that has been included in our creations is under Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) license, so lets focus on this licence: **(All our commens typed in bold)**

### Taking the sumary of this Creative Commons licence, lets see:

Att

[2022-04-17 20:16] KK089 opened #648 "[Payment Issue]:"
### Discord Name

@KK#0101

### Soonaverse Profile Id

0xAa7DB118975E0d2885792AE3dBdE7e3eeF0A0638

### Payment Action

Purchase NFT from Collection

### Payment Problem

I made a purchase and did not receive an NFT nor a refund.

### Wallet Type

TanglePay

### Wallet Version

1.2.0

### Payment Sent to Address

iota1qzg54aavtkemxe8m222us5xkwrnm6pa4mde3ntvr54dtl4crctf75u54z90

### Amount Sent

500

[2022-04-17 20:18] adamunchained commented on #648
You were refunded. There were few delays yesterday and this one of them: https://thetangle.org/message/00c9bf8f60055b7a25a4ad41085a2c0b302d9c50b976dae060dcf1be88a89f6e

[2022-04-17 20:18] #648 closed

[2022-04-17 20:21] KK089 commented on #648
YES! and response time was so fast. Thank you!!!

[2022-04-17 20:26] adamunchained commented on #648
No worries, hope we can slowly avoid these issues into the future.

[2022-04-18 04:57] #611 closed

[2022-04-18 04:58] #517 closed

[2022-04-18 11:27] boldizsar-a-mezei opened #649 "Remove any from functions"

[2022-04-18 13:08] Phyloiota opened #650 "IP / DMCA Request: IOTA, Assembly, Shimmer logo"
Space https://soonaverse.com/collection/0x20908c2190d662f28ab477511f29c817f8a1d63a
sells IOTA logos for profit, does not follow the IOTA logo usage policy as laid out here: https://www.iota.org/connect/brand

This is non permissioned commercial use of the Trademarks of the IOTA Foundation.

SoonLabs responds to notices alleging copyright infringement that comply with the United States Digital Mill

[2022-04-18 14:52] #522 closed

[2022-04-18 14:52] #605 closed

[2022-04-18 14:53] #577 closed

[2022-04-18 14:56] adamunchained commented on #568
This has been improved but I'll leave this open for little longer to see if the issue appears again.

[2022-04-18 15:09] #570 closed

[2022-04-18 15:09] #529 closed

[2022-04-18 15:10] #601 closed

[2022-04-18 15:10] #626 closed

[2022-04-18 15:11] #637 closed

[2022-04-18 15:31] adamunchained commented on #650
rejected

[2022-04-18 15:31] #650 closed

[2022-04-18 15:33] adamunchained commented on #649
Please as part of this request:
- enable same eslintrc from front-end on backend (ideally we can create a common config)
- add function lint to run part of the github actions for every commit
- exclude lint from "tests" file for now

[2022-04-18 15:36] adamunchained commented on #642
duplicate of https://github.com/soonlabs/soonaverse-dao/issues/531

[2022-04-18 15:36] #642 closed

[2022-04-18 15:37] adamunchained commented on #641
I think our calendar needs to be improved overall. @humaint can you add this to your backlog.

[2022-04-18 15:38] adamunchained commented on #627
I think we need to improve how we distinguish Mi/Gi overall. This has been raised few times. @humaint / @Filip356258 - please have a chat about this.

[2022-04-18 15:41] adamunchained commented on #617
NFT has been released. I'm sorry about the delay that was an internal bug that have left the NFT locked.

[2022-04-18 15:41] #617 closed

[2022-04-18 16:01] adamunchained commented on #636
released

[2022-04-18 22:47] JM0unir opened #652 "Arabic translation not showing"
**Describe the bug**
Arabic translation is not showing on the website when selected,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to soonaverse.com
2. Click on AR
![image](https://user-images.githubusercontent.com/39354686/163888878-2211cfc5-28b4-4214-be5b-a2e94440aaf2.png)

3. See error : English text remains in place

**Expected behavior**
Majority of website strings should switch to

[2022-04-19 00:24] humaint commented on #627
@humaint I don't think this needs any major design change, this is just a simple rounding issue when displaying the value - we cant show 1.11 Gi when price is actually 1.111 Gi

[2022-04-19 00:28] humaint commented on #627
i would just remove the rounding functionality when showing Gi instead of Mi

[2022-04-19 00:31] humaint commented on #641
@humaint I agree, the calendar with time is especially difficult to use on mobile.

but regarding this issue, the time columns are scrollable @LordSciFi

[2022-04-19 00:39] humaint commented on #220
@adamunchained can we make this high priority?

[2022-04-19 00:40] humaint commented on #220
examples what should work when implemented:

To find the Iota Whales, I first tried "IOTAWh" then "IOTA_Wh" then just "Wha", before remembering it's called "2,799 Whales". This is probably costing sales.

[2022-04-19 00:49] humaint opened #653 "Merge Collections"
### Discussed in https://github.com/soonlabs/soonaverse-dao/discussions/620

<div type='discussions-op-text'>

<sup>Originally posted by **LordSciFi** April 11, 2022</sup>
As one of the early NFT creators on the Soonaverse I had to/will have to split up one NFT collection into several NFT collections.

For example:
I create an NFT collection for sale but I also have to hold back the airdrops and c

[2022-04-19 00:52] humaint commented on #653
I agree, from the user perspective, it's about adding button "Merge Collection" on a collection which is sold out

[2022-04-19 01:02] humaint opened #654 "small dark mode issues"
![SCR-20220419-e77.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/7b19ba72-13c6-4685-9d6a-08a4611b7fa6)![SCR-20220419-f8t.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/c1592408-979d-4166-9541-e9f9ccf4598e)

[2022-04-19 01:18] humaint opened #655 "Token sale widget on space"
Upcoming sale widget
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=3339%3A35034

Live sale widget
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=3340%3A35248

Live sale (ends soon) widget
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=3410%3A36223

[2022-04-19 01:24] humaint opened #656 "Create new Token"
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=2736%3A37761

[2022-04-19 02:49] adamunchained commented on #220
Yes this will be in next sprint together with advanced filters!

[2022-04-19 07:42] WillHawkMuc opened #657 "Reputation chart axis"
**Describe the bug**
The x-axis of the reputation chart shows a wrong max. value.
In that example the total reputation is 41, while the chart shows 30 as maximum value.

**To Reproduce**
Open Profile 'AxolotlAffe' and check chart vs. reputation value

**Expected behavior**
Show correct max. value on axis

**Screenshots**
![19-04-_2022_09-37-53](https://user-images.githubusercontent.com/75979295/16

[2022-04-19 08:27] LordSciFi opened #658 "Very annoying dissaperance of the images! (for creators)"
**Describe the bug**
When a creator uploads (veryfied with several others) his files for the NFTs, then loads in the .CSV and starts to check if all the properties are correct, the elemnts suddenly dissapear. The Images are (mostly) still there and one has to reupload the .CSV to be able to continue checking the properties. This is super annoying and makes (at least me) insecure if everything is c

[2022-04-19 09:29] JM0unir commented on #653
I see an issue with simply addind a "Merge collection" : what's stopping a creator from creating a collection, advertising a certain number of NFTs (say 500), and then keep creating and merging collections, effectively diluting the first 500 ones ?

Maybe the "Merge collection" should not be unavailable to Limited collections, to avoid the before-mentioned situation.

[2022-04-19 13:25] Phyloiota commented on #646
Hello

After our legal team has reviewed the "Tribute to IOTA" collection, we are okay with opening it again under the following conditions:
**Please add these things to the collection:**
A disclaimer that this project is not endorsed by the IOTA Foundation (that you currently only have in the description of your space), and please also add:
“IOTA and the IOTA logo are trademarks of the IOTA Found

[2022-04-19 13:31] adamunchained commented on #646
@fionn1989 - please confirm once above added and we'll enable collection again.

[2022-04-19 14:56] adamunchained commented on #646
collection approved again

[2022-04-19 17:36] fionn1989 commented on #646
Collection information has been updated with required disclamer.

@adamunchained Could you also enable collection indicated in #644 in order to do the same and update the issue?
https://soonaverse.com/collection/0x0b88a9c1d1515f9f2cfc3798d7216ad2eef3201e

[2022-04-19 18:34] fionn1989 commented on #644
Collection information has been updated with required disclamer as indicated in #646 by IOTA legal team. The collection can be reactivated

FYI @adamunchained

[2022-04-20 00:58] humaint opened #660 "Enable proposal donut chart"
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=2736%3A34483

![SCR-20220420-f8j.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/ec19b575-57bf-4a1d-956f-2e67f0dab463)

[2022-04-20 13:20] sexypotato-wagmi opened #661 "Spanish bug"
Hi guys, there's a bug in the spanish version. More than a bug is related to design/UX.

![Soonaverse bug](https://user-images.githubusercontent.com/100204340/164239252-fb3e866a-8313-4853-9141-d9b9f6b9226d.JPG)

[2022-04-20 19:49] CptBananu opened #663 "Wrong price displayed in payment confirmation window"
**Describe the bug**
A friend of mine created a collection (https://soonaverse.com/collection/0x720a97bc927a46c130db40d18f94998db5d807bb) and reduced the price after launch from 75 Mi to 37.5 Mi (60/30 with the 20% discount badge).
**Having the badge** I purchased one for 30 Mi and got this confusing price in the screenshot.

Nevertheless 30 Mi were sent from my wallet and he received 30 Mi (28.5

[2022-04-21 02:22] #654 closed

[2022-04-22 06:18] humaint opened #671 "My transactions - User profile"
Timeline on users profile should show transactions made by the user

requested here

https://github.com/soonlabs/soonaverse-dao/discussions/670
https://github.com/soonlabs/soonaverse-dao/discussions/659
.
.

Also make it downloadable as excel or PDF.

design ready here
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=3348%3A36470

[2022-04-22 13:58] Ronaldvdb opened #672 "How to create a collection with more than 500 NFTs?"
How to create a collection with more than 500 NFTs?

My Soona profile is AYA.
Our space is AYA nature.

We would love to upload a collection with 678 NFTs.

How?

Best of Greetings.

[2022-04-23 03:19] csxiong opened #676 "Order lock failure due to seller cancellation"
**Describe the bug**
I'm not sure if this is a bug or a feature. In NFT secondary sales, after an order has been confirmed and locked by the buyer, the seller can cancel the order before it is completed, resulting in the order not being locked and the buyer not being able to complete the purchase.

I think this possibility goes against the literal meaning of "Confirm and Lock" in the interactive i

[2022-04-23 12:12] Phyloiota opened #677 "Cant participate in a vote even if part of the space since long time"
**Describe the bug**
The new proposal on the TFT space is up for a vote but it won't let me participate:
![image](https://user-images.githubusercontent.com/77154511/164893915-44a23e42-2207-4d59-90cc-1598976510e7.png)
https://soonaverse.com/proposal/0xa6552bcef6a53a4bc46fbd9d7e512e5710177588/overview

While i am a long term member of the space
![image](https://user-images.githubusercontent.com/7715

[2022-04-23 13:40] adamunchained commented on #677
Are you part of their space? This is a current limitation. You have to be part of the space to vote.

[2022-04-23 13:49] adamunchained commented on #672
You just have to do the upload process twice within one collection. There is nothing stoping you to create NFT multiple times.

[2022-04-23 13:49] #672 closed

[2022-04-23 13:51] adamunchained commented on #658
There is an open issue for this: https://github.com/soonlabs/soonaverse-dao/issues/568

Closing this one as duplicate.

[2022-04-23 13:51] #658 closed

[2022-04-24 20:52] tccflash opened #678 "Proposal don't show results"
I created a new proposal. After some people voted, there are no results displayed yet.

![image](https://user-images.githubusercontent.com/46502426/164996118-7abd84d5-cda6-47d7-b08e-75860224c843.png)

[2022-04-25 06:12] 2g4y1 opened #679 "Firefly with deeplink sends wrong amount of Miota"
**Describe the bug**
When buying a NFT for eg. 3.8Mi, soonaverse sends the needed informations to firefly deeplink.
Now, soonaverse sends the amount of 3.8Mi via deeplink to firefly
Firefly cant handle the point and interpret it at 38Mi (screenshot)
I cant even insert a point in the firefly amount field.

**To Reproduce**
Steps to reproduce the behavior:
buy a nft on soonaverse with for x Miota an

[2022-04-25 08:21] WillHawkMuc opened #680 "Faulty Language Settings"
**Describe the bug**
Web site language settings prefer browser default (German) while dropdown has different preselection (English)

**To Reproduce**
* Open website in browser with German default setting
* Check Language dropdown

**Expected behavior**
* Language dropdown shows same language as website

**Screenshots**
![25-04-_2022_10-15-32](https://user-images.githubusercontent.com/75979295/1650

[2022-04-25 15:41] Gundavri commented on #569
@csxiong Can you please attach the video?

[2022-04-25 23:36] LuxArt007 opened #682 "Adding a "Featured NFT/Collection" on marketplace"
A trend that I find in our marketplace is that 70% of the sales happen on the first day of release (if it happens), and then its hard to find those collections unless we search for them.
It would be nice if we have a featured column for selected NFTs by the community. it can be elected daily or weekly.
So that good projects/collections won't go unnoticed if someone misses them on the first day
For

[2022-04-26 03:40] csxiong commented on #569
I can't reproduce the problem now because I'm hitting issue #635

[2022-04-26 07:12] humaint commented on #653
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=3504%3A36931

![SCR-20220426-nw0.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/6f695e8e-679e-4b96-86b0-3da0fff03711)

[2022-04-26 07:24] humaint commented on #660
use tooltip when more options available, see here https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=2736%3A34483

[2022-04-26 07:25] SeanTMartin opened #683 "Proposal participation requirement does not change to match voting type"
If I do a proposal with XP Reputation - Space, and I don't have any XP in the space, when go to the proposal it says this
![image](https://user-images.githubusercontent.com/38050901/165245057-e36758a7-9a2b-4fdb-a998-265bc1aa34da.png)
This is the wrong error. I'm part of the space, I just dont have XP.

[2022-04-26 09:40] humaint commented on #598
![SCR-20220426-r6j.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/5c6a88d5-d8c8-40c7-a2c9-67918893b9cf)

@Gundavri we can't show the successful screen during metamask signing, the process is not finished yet

lets just show the banner as part of the trade popup here
![SCR-20220426-rah.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/c954e0aa-13c4-4c51-a502-504

[2022-04-26 10:26] humaint commented on #635
@Gundavri you can open the checkout popup based on these steps?

try to buy NFT
lock the transaction
refresh the page
clcck open checkout at the popup
->it should open the popup again, not it doesnt do anything

[2022-04-26 20:51] #598 closed

[2022-04-26 20:55] #470 closed

[2022-04-28 06:22] humaint commented on #661
@Gundavri  pls make sure that the text fits the button = it needs to be wider in this case

[2022-04-29 04:01] humaint opened #684 "Responsive Token Launchpad"
Marketplace/Token
https://www.figma.com/file/7ER3oGXPRXHCEoUGuUfSLl/Soonaverse-%E2%80%94-Responsive?node-id=3044%3A18791

Space
https://www.figma.com/file/7ER3oGXPRXHCEoUGuUfSLl/Soonaverse-%E2%80%94-Responsive?node-id=2736%3A37761

Token detail
https://www.figma.com/file/7ER3oGXPRXHCEoUGuUfSLl/Soonaverse-%E2%80%94-Responsive?node-id=3050%3A21545

Create token
will be added

Profile
will be added

[2022-04-29 08:15] SeanTMartin opened #685 "'Edit Space' button blank"
The 'Edit Space' button is white and textless but still functional. Submitting this after seeing someone in discord that couldn't see the button either.
![image](https://user-images.githubusercontent.com/38050901/165907970-d3842a0b-65fc-43c4-8d20-0407acdbade0.png)

Chrome
Windows 10

[2022-04-29 13:17] ADMrugacz commented on #579
Said "error message" also seems to have strange grammar.

[2022-04-29 19:08] adamunchained commented on #576
this will be part of advanced search implementation

[2022-04-29 19:08] #576 closed

[2022-04-29 19:11] adamunchained commented on #571
@m3rlin5ky - after some careful consideration we will be encourage users to use soonaverse-lib (https://github.com/soonlabs/soonaverse-lib) instead for now to build reports. Big Query data replication is not very consistent.

Let me know what api or data sets are missing in soonaverse-lib and we can add them there.

[2022-04-29 19:11] #571 closed

[2022-05-02 01:25] humaint opened #687 "Sale Ended info box with result export"
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=3775%3A41964

once the sale ends, this box will allow guardians to export the results = available after sale only to guardians

@adamunchained pls specify what needs to be included in the CSV file

[2022-05-02 01:28] humaint commented on #653
merge button on a collection where you can select other collections - these will than merge into the initial collection

- base collection can't be limited
- all collections are from the same space
- merging collections are sold out

[2022-05-02 04:15] adamunchained commented on #678
Can you please provide more information about the proposal? Which one had this issue?

[2022-05-02 04:18] #677 closed

[2022-05-02 04:22] tccflash commented on #678
Hi Adam. Here is the direct link to the proposal. Hope that helps.

https://soonaverse.com/proposal/0x743d012062f424319a6a45d9dfe15a52b19d1ee9/overview

[2022-05-02 05:00] #641 closed

[2022-05-02 17:05] #646 closed

[2022-05-02 17:05] adamunchained commented on #646
Closing as this has been corrected.

[2022-05-02 19:35] centercirclesolutions commented on #608
Looks like this is also happening for jpg images as well
https://soonaverse.com/collection/0x8162a7f08de007825ad232def386d10b1704f961
https://soonaverse.com/collection/0x3415dfaf760ef10604ca14a718508af5db9a02b8

[2022-05-03 01:35] csxiong commented on #569
Hi Gundavri, i made a screen-capture video to reproduce the issue. check this.

https://user-images.githubusercontent.com/86828398/166392523-1028a478-738f-4500-ba27-b870590f8851.mp4

[2022-05-03 06:33] boldizsar-a-mezei opened #691 "SourceTransaction array"

[2022-05-03 23:48] adamunchained commented on #635
<img width="2340" alt="Screen Shot 2022-05-03 at 4 46 51 PM" src="https://user-images.githubusercontent.com/130610/166599028-c842f255-4007-412d-97ac-f0d19122cfe9.png">

This might be related.  It's an issue with logic. I'll fix this.

[code]

[2022-05-05 10:35] coodos opened #692 "Missing `CollectionID` attribute in IPFS metadata"
# Missing Collection Identifier

The IPFS metadata is missing collectionId

**To Reproduce**
Steps to reproduce the behavior:
1. IPFS metadata for any NFT take ([this moonaco captain](https://ipfs.soonaverse.com/ipfs/QmVwHVi2pFsYSV1Uj1cq9rWkeAUzMmvzua1DNbV4HbnnuM)) for example
2. The metadata lacks an identifier for the collection

**Expected behavior**
Collection identifier shall be present

[2022-05-05 17:54] adamunchained commented on #692
I don't think I can prioritize as hotfix. It's been there since launch. We'll add it in our working branch and release probably by 20th of May (part of our sprint release).

Is this a blocker for your sale? When is it again?

[2022-05-06 04:33] coodos commented on #692
Our sale is on 12th May, but we can add it as a property to our Metadata if that works

[2022-05-06 05:15] adamunchained commented on #692
oh actually I think that's a great workaround for now.

[2022-05-06 08:06] coodos commented on #692
Awesome thanks Adam!

[2022-05-06 14:46] Gundavri opened #693 "Design for "Edit token" functionality"

[2022-05-06 14:47] Gundavri commented on #693
Currently, I think there is not a design for editing token but there is a functionality for it in the backend.

[2022-05-06 14:47] Gundavri commented on #693
@humaint

[2022-05-06 15:00] Gundavri opened #694 "Token terms and conditions"
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=3970%3A40322

Instead of file upload, we are going to have input for a link to terms and conditions.
@boldizsar-a-mezei Can you add that field in the backend?
@humaint It should probably be the same card just with input, right?

[2022-05-09 13:50] jpeeling13 opened #695 "Dark Mode - Some Text Really Hard To Read"
**Describe the bug**
On some pages, the text is really hard to read when using dark mode

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a space
2. Click on an active Award
3. Observe the text below for the Award description

**Screenshots**
![soonaverse_award_text_nonreadable](https://user-images.githubusercontent.com/9746778/167424572-1e15de54-c35f-4ad5-b92f-1c48c47d980f.png)

**Desk

[2022-05-09 22:08] boldizsar-a-mezei opened #696 "Cancell token buy/sell"

[2022-05-09 22:13] #696 closed

[2022-05-10 06:24] humaint commented on #695
![SCR-20220510-mra.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/6ac89b28-8738-402f-a9f6-bdf6da92e930)

https://www.figma.com/file/bCO54KioJBPG00LUX4yBLi/Soonaverse-%E2%80%94-WebApp-(Darkmode)?node-id=2736%3A42931

pls fix according design @Gundavri

[2022-05-10 20:24] centercirclesolutions opened #697 "Error, invalid media for certain uploaded images"
**Describe the bug**
User uploads MP4 videos and some upload correctly while others get "Invalid Media error"
![image](https://user-images.githubusercontent.com/44786846/167715664-c55ca4e6-d8d3-46d9-935e-3d20ea879232.png)

[2022-05-10 20:55] soonaverseHelp opened #698 "Cannot buy NFT, checkout window never changes"
**Describe the bug**
A clear and concise description of what the bug is.

When buying any NFT, the order is created but the checkout window never changes over to give the IOTA address to send the iota to.  It stays on the By checking this box, you agree with[Terms and Conditions](https://docs.google.com/document/d/1ng67fXTdINhmgkLpnbS_SkiDlZSsDAqrd13cbwXQCcQ) and Confirm and Lock screen.

**To Rep

[2022-05-10 22:43] adamunchained commented on #698
Is this on wen.soonaverse.com or production?
Can you share the link to the NFT please?

Thanks

[2022-05-10 22:45] humaint commented on #693
@adamunchained

I'm not sure ... what are the limitations for edit? (who, when and what you can edit?

[2022-05-11 03:09] humaint commented on #695
![SCR-20220511-i98.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/a3f3727d-f6f5-43eb-9cc6-573cc5cd0752)

icons should be fixed as well

[2022-05-11 03:18] adamunchained commented on #309
part of https://github.com/soonlabs/soonaverse/issues/688

[2022-05-11 03:18] #309 closed

[2022-05-11 03:21] adamunchained commented on #697
closing as this was due connection issues

[2022-05-11 03:21] #697 closed

[2022-05-11 14:43] adamunchained commented on #568
Feedback from one of the users:

```I soldiered through and got it done. There are a few little bugs in there, but got through it in the end. Things like uploading a csv before downloading a template causes the upload to fail also when you change the window size the NFTs disappear from the UI. Managed to get there in the end though. Thanks for your help```

- disable upload CSV prior clicking the

[2022-05-11 14:44] adamunchained commented on #518
part of #568

[2022-05-11 14:44] #518 closed

[2022-05-12 21:04] tccflash commented on #568
Ok @adamunchained. I don´t get it. I have to prepare many uploads for my project now. Everything I tried, it is everytime the same. Latest after I checked the 20th NFT all are gone and I have to reupload it now completly. Last time it was enough to reupload the CSV.

Also I don´t understand what the user means with disable uplad CSV prior clicking the download template?

[2022-05-12 23:20] adamunchained commented on #693
they should be able to edit textual details such as description and titles.

[2022-05-13 14:51] jpeeling13 opened #699 "Confusing alert - Can't buy an NFT"
**Describe the bug**
When I try to purchase a certain NFT, I get an alert/notification popup saying that I'm not allowed to purchase it but there's no further explanation as to why. Also, the grammar is slightly wrong, as it should just say "You are not allowed to purchase this NFT" or maybe "You are not a member that is allowed to purchase this NFT".

**To Reproduce**
Steps to reproduce the behav

[2022-05-13 20:46] adamunchained commented on #692
Add "collectionId" to the IpfsService pls. Thanks!

[2022-05-14 03:03] adamunchained commented on #631
Lets expose the list of space members within soonaverse-lib

[2022-05-14 13:20] sagelev opened #700 "Item isn't shown on the marketplace"
There is an error on the marketplace. I'm the owner of the NFT genso #4852. It can't be found on the marketplace. With different filters either. A total of 7 of my NFTs are missing
![Screenshot_6](https://user-images.githubusercontent.com/24626767/168466796-3e84233c-cd06-413b-9c9c-862aa9021bd8.jpg)
![Screenshot_5](https://user-images.githubusercontent.com/24626767/168466797-30bdc358-b059-44de-b9eb

[2022-05-15 19:39] donohawitz commented on #693
@Gundavri
token detail (guardian view) / edit button –> https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=3404%3A36629
token detail edit –> https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=4319%3A45678

[2022-05-15 22:58] humaint commented on #693
@Gundavri
edit token button = https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=3404%3A36791

edit screen = https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=4319%3A45678

[2022-05-16 13:20] antonionardella opened #701 "Error message: Some of the NFTs are faulty while uploading 70 SFT (NFT)"
**Describe the bug**

Trying to upload ~70 badges after the CSV is uploaded it gives this error:
![image](https://user-images.githubusercontent.com/7383572/168601082-f8225fa6-21d4-41b6-a027-8eda7df9973a.png)
The error says `'-invalid media'`

The issue is that the files are uploaded in a `different order` (so not 1-70, but randomly) and the exported CSV had the filenames in the upload order of the

[2022-05-16 13:25] antonionardella opened #702 "Uploaded NFTs (SFT mode) disappear"
**Describe the bug**
After correctly uploading NFTs, the list of uploaded files disappears if one looks at the preview or is not quick enough to upload the CSV file.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload ~70 NFTs
2. Click on the preview
3. File list disappears

**Desktop (please complete the following information):**
 - OS: Windows 11 and GNU/Linux (Manjaro
 - Browser Firefo

[2022-05-16 13:31] Gundavri commented on #635
@adamunchained I'm getting the same errors
![image](https://user-images.githubusercontent.com/51381939/168604135-5484ca6b-a1c4-4582-952e-3776ec9812e7.png)

[2022-05-16 13:33] adamunchained commented on #702
This has been fixed in upcoming release finally. It’ll come out by EOW.

[2022-05-16 13:33] #702 closed

[2022-05-16 21:01] SeanTMartin opened #704 "Rounding NFT price causing transactions to fail"
Rounding the cost of an NFT has caused transactions to fail. Current example in support:
Displayed Cost of NFT: 1.07GI
Actual Price: 1067.300 mi

This makes the user to send an incorrect amount of funds, 1.07Gi, when it actually costs 1067.300mi. Thus, the transaction fails and the funds are returned to the user.

Expected outcome:
The user is always given the exact number of funds required rather

[2022-05-17 06:50] iota77 commented on #698
production - anytime I try to buy an NFT on soonaverse.com

Example:
https://soonaverse.com/nft/0x2e8dcb6b705b53583432b6cc2ff942d3a75b4ebe

[2022-05-17 13:04] antonionardella opened #705 "SFT sale 'one per member' not blocking users from purchasing more NFTs"
**Describe the bug**
I set a collection as 'one per member'
![image](https://user-images.githubusercontent.com/7383572/168816870-814fb26a-1bd2-42a7-805c-8dbc1bfec2ad.png)

Although I can open an order and try to buy another one:
![image](https://user-images.githubusercontent.com/7383572/168816990-ba203402-195b-4850-8975-983c878b51ba.png)

I did not try to complete the order since I did not want to

[2022-05-17 14:44] adamunchained opened #706 "Claim token should generate unique amount same as validate address"
Claim token function should generate random amount exactly same way as it does on the validateAddress (order.control.ts) Line 333
[code]

Validation Type should be on amount & address.

![Screen Shot 2022-05-17 at 7.42.07 AM.png](https://images.zenhubusercontent.com/54f851af4f7a08fbb7f242c5/32b428d0-c136-47bb-9297-7c9bfff4d9ca)

[2022-05-18 05:22] humaint opened #708 "Add Short description fields on token create and token edit"
https://app.zenhub.com/workspaces/public-master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse/825

this will be added to BE

we need to show this on token create and token edit

also this short description will be displayed on token trading page instead of the token description

[2022-05-18 08:58] humaint opened #709 "Token Tags update"
![SCR-20220518-kmj.jpeg](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/afb63395-11db-471d-91b8-b00e1a23eebc)

tags now does not make sense during the whole process

pls add condition
Available tag - show when token available for buy = only when public sale active (not during waiting and cooldown)

Scheduled - show when public sale is about to begin

Cooldown - show when cooldown in

[2022-05-18 23:55] SeanTMartin opened #711 "Spelling, grammatical errors, and confusing wording compilation"
The following comments are directed at the image directly below them.

**Create Token Page**:

-Introduction page:

Should say  'creating _a_ token'. 'would' is unnecessary. Not sure what exactly is meant by 'approve your token application before the approval', but it's very confusing to use 'approve' twice like that if they refer to different things.
![image](https://user-images.githubusercontent

[2022-05-19 03:39] humaint commented on #708
![SCR-20220519-ixc.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/bb407cc7-3aba-470a-a4ab-942063b13c03)![SCR-20220519-iyb.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/228bfd81-62e4-46fd-aa65-1bc4d14110ca)

[2022-05-19 04:47] csxiong opened #712 "The language versions of Simplified Chinese and Traditional Chinese are not displayed properly"
**Describe the bug**
Currently, when selecting Simplified Chinese or Traditional Chinese in the interface, the website does not display the corresponding language version properly. Also, at the selection, the ZH-CN and ZH-TW strings need to be optimized because they are too long.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.soonaverse.com'
2. Click on 'Language selection' Switc

[2022-05-19 08:32] humaint commented on #709
![SCR-20220519-l2z.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/0a7e25c2-455b-4cf5-b57f-e419ae4653b0)

@Gundavri pls rename token info to token sale here pls

[2022-05-19 17:08] mbarrueto opened #713 "NFT Sale History not showing - Not even in the Soonaverse Information Portal"
**Describe the bug**
NFT Sale History not showing - Not even in the Soonaverse Information Portal
Here's the NFT in question: https://soonaverse.com/collection/0x604e4e5b5d3f5937078323f67f60acd43e903908

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://datastudio.google.com/u/0/reporting/259acc9b-a746-4e0b-9685-dd702cf1df64/page/NkwnC

4. See error

**Expected behavior**
All buye

[2022-05-19 20:07] SeanTMartin opened #714 "Link sections in token creation do not deal with shortened urls."
If you add a link during token creation, for example to www.youtube.com, you receive the following error
![image](https://user-images.githubusercontent.com/38050901/169395107-0f387018-5ad8-47ee-922d-e7c496a7766e.png)

When you click through the link on the summary page,
![image](https://user-images.githubusercontent.com/38050901/169395347-344cbd5d-0fb2-4663-bc46-364a3aa70d94.png)
it goes here.
![i

[2022-05-19 21:00] SeanTMartin opened #715 "Undefined terms in marketplace"

[2022-05-19 21:24] adamunchained commented on #715
Can you please provide more information here?

[2022-05-19 21:52] SeanTMartin commented on #715
Do not know how this got submitted. Closing.

[2022-05-19 21:52] #715 closed

[2022-05-19 22:46] SeanTMartin opened #716 "Token Chart axis labelling problem"
Token chart X and Y axis are unlabeled, and the numerical boundaries for the X axis look incorrect. User can't tell what '15' in this example would mean, even if it is correct.
![image](https://user-images.githubusercontent.com/38050901/169416209-10439567-2b34-474a-afad-8427ff954040.png)

[2022-05-20 01:43] humaint opened #718 "refresh the token launchpad page when sale starts so i can see the buy button"
right now i need to manually refresh

[2022-05-20 21:59] adamunchained commented on #716
this has been changed

[2022-05-20 21:59] #716 closed

[2022-05-20 23:00] SeanTMartin opened #719 "Token Descriptions in Token Creation ambiguous"
The user isn't given an indication about where these descriptions will be seen, how they are different from one another, or whether they are just supposed to put down the same info twice. Really difficult to know what to do with the Short description box unless you have already gone through and tested the token creation process to understand what it means and where it goes.

![image](https://user-

[2022-05-21 10:35] MiKeF05 opened #720 "[Minor] Button on Home displayed incorrect"
**Describe the bug**
The button "Search documentation" is not displayed correctly in language German.

![image](https://user-images.githubusercontent.com/71659397/169647691-7d37243d-f0f1-49e5-8405-ea225869e54d.png)

[2022-05-21 15:53] adamunchained commented on #718
I’ll handle this one.

[2022-05-21 19:21] adamunchained commented on #547
@humaint - here we show available in the collection. How do we want to show available for re-sell?

[2022-05-22 23:37] humaint commented on #719
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=4026%3A43001

@Gundavri can you pls add these additional hints underneath the labels

[2022-05-23 03:41] #685 closed

[2022-05-23 03:41] #708 closed

[2022-05-23 03:41] #719 closed

[2022-05-23 03:41] #693 closed

[2022-05-23 03:41] #709 closed

[2022-05-23 03:41] #661 closed

[2022-05-23 03:41] #695 closed

[2022-05-23 03:42] #568 closed

[2022-05-23 03:42] #569 closed

[2022-05-23 03:42] #718 closed

[2022-05-23 03:42] #220 closed

[2022-05-23 03:42] #635 closed

[2022-05-23 03:42] #671 closed

[2022-05-23 03:42] #691 closed

[2022-05-23 03:42] #692 closed

[2022-05-23 03:42] #679 closed

[2022-05-23 03:42] #694 closed

[2022-05-23 03:42] #706 closed

[2022-05-23 03:42] #649 closed

[2022-05-23 04:41] #720 closed

[2022-05-23 04:43] cubensos opened #721 "[TLP]:"
### Email

johngixxer@protonmail.com

### Company Name

Crypto Freaks

### Your Position

Founder / Co-Founder

### Name

Harri Hart

### Have you already done a public sale?

No

### Files and other information

_No response_

[2022-05-23 11:17] basvansambeek opened #722 "Group transactions around the NFT on Transactions page"
It would be good to group all transactions around a single NFT. Now I have 3 lines for payment, royalties and bill to the owner.

The way I see this is to group those together on a background with the same color, and put the NFT it pertains to in front of it (Collection name and NFT number to keep it light). The next group of transactions would have a slightly different shade background, alternati

[2022-05-23 11:45] DirtyDreamer opened #723 "Internal Error Proposal"
**Describe the bug**
The internal Error is trown when a new proposol is safed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to proposels
2. Click on new proposel
3. Fill in all fields
4. Click on create proposel

**Expected behavior**
A new proposel should be added to the groupe

**Desktop (please complete the following information):**
 - OS: Windoes
 - Browser chrome
 - Version Version

[2022-05-23 12:56] LordSciFi opened #724 "Giveaways Purchasable by anyone"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Go on a collection for giveaways
2. Click on the NFT which is free to claim for user X
3. Purchase the NFT which should be only purchasable by user X (instead of him)

**Expected behavior**
Only the person who is allowed to purchase/claim the giveaway should be able to claim it.

**Screenshots**
![image](

[2022-05-23 13:18] LordSciFi opened #725 "Magic Voodoo Dolls - REKT?"
**Describe the bug**
Based on this issue:
https://github.com/soonaverse/soonaverse-dao/issues/724

Our NFT collection got REKT. Some people are buying up all the super rare NFTs from our collection which were supposed to be airdroped to one of the exclusive holders of an LMVD once we sold 22% of the entire collection.

We can't proceed with this step and fulfill what we promised because our NFTs g

[2022-05-23 16:57] Owlcity1234 opened #726 "[Payment Issue]:"
### Discord Name

LuxArt#9410

### Soonaverse Profile Id

0x9Ebe31860dEe061b6d3670a5b80c89285d2B9780

### Payment Action

Sold NFT - Fixed Price

### Payment Problem

I sold and NFT and did not get a payment or royalties.

### Wallet Type

FireFly

### Wallet Version

1.4.2

### Payment Sent to Address

_No response_

### Amount Sent

_No response_

### Payment Message Id

_No response_

### NFT I

[2022-05-23 21:14] Tanglebeast opened #727 "[TLP]:"
### Email

tanglebeasts@gmx.de

### Company Name

Tanglebeasts

### Your Position

CEO

### Name

Marvin Guellier

### Have you already done a public sale?

No

### Files and other information

_No response_

[2022-05-23 23:26] adamunchained commented on #726
we had delays on our Hornet nodes. This should be now finalized.

[2022-05-23 23:26] #726 closed

[2022-05-24 02:58] adamunchained commented on #724
this has been fixed, please see announcement for further details: https://discord.com/channels/892481940953915433/947920161195851797/978480873160712232

[2022-05-24 02:58] #724 closed

[2022-05-24 02:58] adamunchained commented on #725
this has been fixed, please see announcement for further details: https://discord.com/channels/892481940953915433/947920161195851797/978480873160712232

[2022-05-24 02:58] #725 closed

[2022-05-24 03:58] humaint opened #728 "show token icon on trading page"
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=4021%3A41272

![SCR-20220524-jdx.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/61b1641b-cb5a-49c2-ad91-7db777aee5c3)

[2022-05-24 05:53] centercirclesolutions commented on #700
Will this be addressed with the new filtering functionality

[2022-05-24 12:30] IotaQI opened #729 "[TLP]:"
### Email

iotaiqi@gmail.com

### Company Name

Iota Quantum Intelligence

### Your Position

CEO

### Name

Romulus

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-05-24 12:52] sagelev commented on #700
No it isn't.
I'll send you 3 screenshots to point out the problem
![Screenshot_10](https://user-images.githubusercontent.com/24626767/170039090-18f20ab5-e7c4-408c-8b76-3723b59e4e61.jpg)
![Screenshot_11](https://user-images.githubusercontent.com/24626767/170039097-e9cb3d89-f397-4bb9-a217-166faa2dcfab.jpg)
![Screenshot_12](https://user-images.githubusercontent.com/24626767/170039107-9e896c67-456a-40

[2022-05-24 14:18] adamunchained commented on #700
We've done further tweak on the indexation of the results. Please have a look but it seems your records are now appearing. Feel free to re-open if this is still an issue.

[2022-05-24 14:18] #700 closed

[2022-05-24 16:01] sagelev commented on #700
Great work! Thanks a lot !!! @adamunchained @centercirclesolutions

[2022-05-24 18:57] basvansambeek opened #730 "Transactions tab under My profile only shows outgoing transactions, not incoming"
**Describe the bug**
I only see transactions of stuf fi bought, not what I sold.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My profile'
2. Click on 'Transactions'
3. Scroll down to 'search for sold NF3'
4. Don't see them

**Expected behavior**
I expect to see the NFT is sold, since I have quite a few, I was expecting to easily learn why there are more tokens in Firefly

**Screens

[2022-05-24 19:36] IOTAstable opened #731 "[TLP]: IOTA Stable"
### Email

zacrews@gmail.com

### Company Name

IOTA Stable

### Your Position

Founder / Co-Founder

### Name

Zane Crews

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-05-24 20:14] MiKeF05 opened #732 "[Minor] - Card on home needs to be modified"
On the home website the card in the center needs to be modified in German language.

![image](https://user-images.githubusercontent.com/71659397/170123760-71483ce2-acda-4891-944d-645a8753a7da.png)

[2022-05-24 20:42] centercirclesolutions opened #733 "Button for requesting add to space is missing a space between "addto""

[2022-05-24 23:54] humaint opened #734 "Small UI issue token trading"
make sure there is correct padding at the bottom of the screen (bellow offer/request tables)
![SCR-20220525-dpy.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/9b294335-f937-440f-a7af-fc8cbfba55ef)

[2022-05-25 02:03] mexaverso opened #735 "[TLP]: mexaverso"
### Email

atencion@powerclasswifi.com

### Company Name

PowerClass

### Your Position

Founder / Co-Founder

### Name

Armando Rosales

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-05-25 03:15] humaint opened #736 "Enable current distribution export on token page"
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=2736%3A37761

![SCR-20220525-id8.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/2bdb3084-4dca-405d-8490-f7de82c0e28c)

[2022-05-25 03:19] adamunchained commented on #736
@Gundavri - for the export, you simply get records from distribution table and generate CSV with following:

EthAddress (field uid), tokenOwned

[2022-05-25 12:43] JMSTROHS opened #737 "[TLP]:"

[2022-05-26 00:13] humaint opened #740 "Profile (NFTs) - Grouping NFTs to Spaces or Collection"
### Discussed in https://github.com/soonaverse/soonaverse-dao/discussions/739

<div type='discussions-op-text'>

<sup>Originally posted by **m3rlin5ky** May 25, 2022</sup>
Hello Soonaverse Community, I would like to provide an idea:
If I look at my NFTs it is kind of messy.. due to different NFT names they can't automatically be grouped/sorted in a correct way.
It would be awesome to see them grou

[2022-05-26 10:31] sstklen opened #741 "[TLP]:"
### Email

stklen@gmail.com

### Company Name

JDT(Japan Dream Travel)

### Your Position

Founder / Co-Founder

### Name

stklen

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-05-26 17:05] Bioquad opened #742 "Pending members, do not appear."
**Describe the bug**
Pending members do not appear.

![Problema membres pendents](https://user-images.githubusercontent.com/106176115/170538570-625b802c-9897-43fd-b1eb-68f57a7dc80f.png)

[2022-05-26 17:20] JoseGuarny opened #743 "[TLP]: token Alhambra"
### Email

jguarny@gmail.com

### Company Name

Comparsa Ciudad de la Alhambra

### Your Position

CEO

### Name

Jose Guarny

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-05-27 08:24] MyMonk089 opened #744 "Transaction export does not work (CSV) and Transactions not complete"
**Describe the bug**
When I click on export the transactions, it keeps spinning and nothing happens. Furthermore my list of transactions ends on 04/18/22 but there are many transactions later on till today.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'transactions' of MyMonk089
2. see missing transactions
3. Click on 'export CSV'
4. See error

**Expected behavior**
Full transaction

[2022-05-27 16:39] adamunchained commented on #723
Can you please provide more information? Inputed fields or screenshot? thank you!

[2022-05-27 16:41] adamunchained commented on #730
yeah very good point, we identify as well and it'll be fixed as part of the: https://github.com/soonaverse/soonaverse/issues/946 (coming out next sprint)

[2022-05-27 16:41] #730 closed

[2022-05-27 17:40] #714 closed

[2022-05-27 17:40] #734 closed

[2022-05-27 17:40] #711 closed

[2022-05-27 17:40] #728 closed

[2022-05-27 17:40] #736 closed

[2022-05-27 17:40] #740 closed

[2022-05-27 21:20] adamunchained commented on #631
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/631?planning-poker) with ZenHub @boldizsar-a-mezei

[2022-05-27 21:21] adamunchained commented on #744
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/744?planning-poker) with ZenHub @Gundavri

[2022-05-27 21:23] adamunchained commented on #657
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/657?planning-poker) with ZenHub @Gundavri

[2022-05-27 21:24] adamunchained commented on #660
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/660?planning-poker) with ZenHub @Gundavri

[2022-05-27 21:24] adamunchained commented on #732
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/732?planning-poker) with ZenHub @Gundavri

[2022-05-27 21:26] adamunchained commented on #712
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/712?planning-poker) with ZenHub @Gundavri

[2022-05-28 02:15] mexaverso opened #745 "Purchase reversed"
I see my purchase of $Soon tokens reversed

¿Why?
Can I still purchase the tokens

Transaction references:
Original purchase:
https://explorer.iota.org/mainnet/message/d2e80a37ede104471875fdced0a709e37988defd917888a4d90c6e7fab2dd416
Reverse:
https://explorer.iota.org/mainnet/message/b0606367b95e9a4b0e3f7a253dd33a8e45f4cb88c7f0899f71d3b5e5a3366b4a

Thanks

[2022-05-28 13:45] adamunchained commented on #699
This is due restriction on sales for this NFT. Let’s improve language and disable buy now button if restricted sales to another member.

[2022-05-28 13:46] adamunchained commented on #701
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/701?planning-poker) with ZenHub @Gundavri

[2022-05-28 13:47] adamunchained commented on #745
Please read https://soonlabs.medium.com/adjusting-our-approach-to-funding-b6a7bc588518

[2022-05-28 13:47] #745 closed

[2022-05-28 13:49] adamunchained commented on #705
Yeah the validation is only on the backend. It would still show as purchasable but it’ll only be disallowed once you hit confirm.

TODO: Let’s make sure buy now is disabled and show pop-up bubble that NFT from the collections was already purchased.

[2022-05-28 13:50] adamunchained commented on #704
We should switch to Mi everywhere on the purchasing flows (checkout modals) and only use that. Mi/Gi is confusing. Please adjust.

[2022-05-29 13:52] centercirclesolutions opened #746 "User is not selectable from user list to sell NFT"
**Describe the bug**
MySparta is not selectable in the user list to sell an NFT to. Not sure why. Others have had this issue

![Screenshot_20220529-064517](https://user-images.githubusercontent.com/44786846/170872498-961936f9-f696-4730-a1d6-3a01df978d15.png)

[2022-05-29 14:56] adamunchained commented on #746
Did you try to select by ID? Did that work?

[2022-05-29 14:59] Doenermaker commented on #746
To add some others with the same issue and more informations:
BitcoinDan reported the issue on the soonlabs discord https://discord.com/channels/892481940953915433/917930917710925864/979759082401587240
The account was created nov. 21 and the functionality has worked before.

Sanderinho experienced this bug as well, reported on the IotaOrigin discord
https://discord.com/channels/950754221031034921/

[2022-05-29 15:01] Doenermaker commented on #746
seems like you're on to something, using 0x8b344a3942b6629f57733de8cee8d518d0f49315 worked for mysparta/ABC123

[2022-05-29 15:35] adamunchained commented on #746
Yeah I’m not at PC at the moment but there must be an UI bug in the search if you user their username.

[2022-05-30 15:50] SeanTMartin opened #749 "SoonLabs IP / DMCA Request:"
SoonLabs responds to notices alleging copyright infringement that comply with the United States Digital Millennium Copyright Act (the “DMCA”).  If you wish to make a DMCA claim, you must provide the following information in writing in your DMCA notice:

- identify the copyrighted work that you claim has been infringed:
https://soonaverse.com/space/0x5fcc5562385e6c2f6b0a5934280e5d11274f8e07/overvie

[2022-05-30 18:07] DirtyDreamer commented on #723
[image: image.png][image: image.png]
4 Answers maybe thats causing the error

Am Fr., 27. Mai 2022 um 18:39 Uhr schrieb Adam ***@***.***>:

[2022-05-30 18:08] DirtyDreamer commented on #723
No i get the same one with 3 options

Am Mo., 30. Mai 2022 um 20:07 Uhr schrieb Sexy AI ***@***.***>:

[2022-05-30 18:38] mexaverso commented on #745
Thanks adamunchained

[2022-05-30 21:26] adamunchained commented on #475
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/475?planning-poker) with ZenHub @Gundavri

[2022-05-30 21:27] adamunchained commented on #514
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/514?planning-poker) with ZenHub @Gundavri

[2022-05-31 00:02] #749 closed

[2022-05-31 05:51] Phyloiota opened #750 "Token trading - contrast in dark mode not good"
![image](https://user-images.githubusercontent.com/77154511/171102076-ebfa4bb5-cdb1-4759-b201-56eff9f686a7.png)

[2022-05-31 10:40] MyMonk089 commented on #744
Just claimed the FEE Token and this transactions are visible in the list. Could it be, that only the transactions of the first sales on Soonaverse are displayed and not the transactions when I sell one of my NFTs to somebody else later on?
For me it is important that all sales are displayed because of tax reasons if the NFT holding is less than 1 year. ;-)

![Bildschirmfoto 2022-05-31 um 12 37 57]

[2022-05-31 18:32] valuefold opened #751 "[Payment Issue]:"
### Discord Name

@valuefold#3799

### Soonaverse Profile Id

0xa6caaca8912c3bb5868c54dbc62b5f57e6196cac

### Payment Action

Other (Please describe in comments)

### Payment Problem

I made a purchase and did not receive an NFT nor a refund.

### Wallet Type

FireFly

### Wallet Version

1.6.0.

### Payment Sent to Address

iota1qzyyd4mc6n5qvjrjaym3d6x3fmsnexv8htf22zazmz98n4tv67f8wuxp0l5

### Amo

[2022-05-31 22:34] adamunchained commented on #751
We don't refund IOTAs to claim tokens. It behaves same way as NFT transfers or NFT Giveaways that typically happens for 1Mi.

[2022-05-31 22:34] #751 closed

[2022-05-31 23:24] zarte13 opened #752 "Can't send the proper amount for token bid to buy FEE token"
**Describe the bug**
It doesn't let me send the right amount of tokens
it always says invalid amount when I send iotas to the window
I tried sending 10 mi
and sending the weird amount
and neither worked

**To Reproduce**
Steps to reproduce the behavior:
1. Open Token Buy bid for FEE token
2. Select an amount (ex. 10 mi)
3. Send the selected amount (10 mi) via firefly to the address
4. Doesn't work

[2022-06-01 02:26] adamunchained commented on #752
It seems UI incorrectly rounds prints the amounts within the UI. UI must show the decimals correctly if exists.
Make sure the amount prints the 6 decimal exactly as they're coming from the "order" transaction. Use 2-6 digits number formatting.

This must be also correctly passed into deep-link-firefly component.

[2022-06-01 02:27] adamunchained commented on #752
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/752?planning-poker) with ZenHub @Gundavri

[2022-06-01 06:52] csxiong commented on #746
I have also received the same feedback from several community members such as @WildWest, @BlackHole, @Stranger. They have all registered or changed their aliases around May 23rd.

[2022-06-01 14:34] Gundavri commented on #680
@adamunchained @WillHawkMuc I could not repeat even after changing my browser default to German. Maybe you have google translate turned on?

[2022-06-01 14:36] Gundavri commented on #652
@adamunchained There were 2 AR translations in the locale folder. ar-SA had translated strings in it but ar-EG didn't. "Ar" in the language-switch component was for ar-EG so that's why it was not translated. Now I added both versions to switch components and configs. Once you put translations in ar-EG too I think it will work fine.

[2022-06-01 15:50] robw5507 opened #754 "[Payment Issue]: Refund not sent."
### Discord Name

@Rw.#4451

### Soonaverse Profile Id

0x6e127f0ff3BEd69DFb8c450e0FA6b3e495A3Ae2B

### Payment Action

Purchase NFT from Collection

### Payment Problem

I made a purchase and did not receive an NFT nor a refund.

### Wallet Type

FireFly

### Wallet Version

1.6.0

### Payment Sent to Address

iota1qp8azs6qv253y7ja5792hfanrfe0vdtn8kg06tm0cyatq22r9evlgpcy535

### Amount Sent

180

[2022-06-01 17:34] Michalis2515 opened #755 "[Payment Issue]:"
### Discord Name

Michalis#2515

### Soonaverse Profile Id

0xB3f7aF5E7c65fCbB32B5d597d9C091C92467369a

### Payment Action

Other (Please describe in comments)

### Payment Problem

Other (Please describe in comments)

### Wallet Type

FireFly

### Wallet Version

1.6.0

### Payment Sent to Address

iota1qptagkta6g07jgwjrjk3j6z2as2s2hvq3m6wfjs6kr5sfgwdx2trqxa9n8d

### Amount Sent

198.00 Mi

### P

[2022-06-01 18:52] adamunchained opened #756 "Validate number formatting across different locales"
Background: https://twitter.com/dragonslayer968/status/1531918967656292354?s=21&t=JOCospA8ZrG8LoCFHE4_Xw

Lets investigate this concern

[2022-06-01 20:49] adamunchained commented on #755
For some reason this person didn't end up with credit. There are only two transactions. Also see attached distribution. No refunds.

I think the issue here is because they made the payment during PROCESSING or pre_mint? This should result in automatic credit.

<img width="1407" alt="Screen Shot 2022-06-01 at 1 45 57 PM" src="https://user-images.githubusercontent.com/130610/171498907-6f7334c3-1e47-

[2022-06-01 20:50] adamunchained commented on #755
@boldizsar-a-mezei - marking as hotfix (merge to master)

[2022-06-01 20:55] adamunchained commented on #754
Transaction re-processed and have now cleared. We'll be improving re-processing process into the future. This happens in some edge cases where hornet node does not correctly respond to our requests. It tells us it made the transfer but in reality it didn't :)

[2022-06-01 20:55] #754 closed

[2022-06-01 21:01] boldizsar-a-mezei commented on #755
@adamunchained
There is a logic for this already in place but it was merged 2 days ago, however this transaction happened on the 26th. I think the issue is already fixed.
![image](https://user-images.githubusercontent.com/65147512/171500840-d572042f-aab7-4241-9740-4a4d385f0dc1.png)

[2022-06-01 21:07] adamunchained commented on #744
Yes there were two issues:
- incorrectly set previous owner on certain transaction. This has been hot fixed: https://github.com/soonaverse/soonaverse/issues/977
- we also don't include transactions for NFTs you sold or previously owned. This will be fixed in next sprint: https://github.com/soonaverse/soonaverse/issues/946

[2022-06-01 21:12] adamunchained commented on #755
ah ok! I'll proceed with refund manually.

@Michalis2515 - you should receive refund now. See: https://thetangle.org/message/b17de50b7aefe5480d59cd54668f3bec927a0b421c1fc8c1991a5a2108e39588

[2022-06-01 21:12] #755 closed

[2022-06-01 21:32] robw5507 commented on #754
Thanks for the reply..I still don't see any transaction in my firefly
wallet.

On Wed, Jun 1, 2022, 1:55 PM Adam ***@***.***> wrote:

[2022-06-02 04:07] humaint commented on #750
working on design

[2022-06-02 04:09] adamunchained commented on #754
It goes back to address validated on your profile. Please see the transaction here: https://thetangle.org/message/d5056e766b6f86e6bf5b4cd362c50e76d66f36b120cf187a4ddb778822e40a55

[2022-06-02 04:25] humaint commented on #547
working on destgn

[2022-06-02 04:50] Michalis2515 commented on #755
Thank you for your help. 

Στάλθηκε από το Ταχυδρομείο Yahoo σε Android

  Στις Πέμ, 2 Ιουν, 2022 στις 0:12, ο ***@***.***> έγραψε:

ah ok! I'll proceed with refund manually.

@Michalis2515 - you should receive refund now. See: https://thetangle.org/message/b17de50b7aefe5480d59cd54668f3bec927a0b421c1fc8c1991a5a2108e39588

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are r

[2022-06-02 05:58] robw5507 commented on #754
Got it. Ty

On Wed, Jun 1, 2022, 9:09 PM Adam ***@***.***> wrote:

[2022-06-02 13:58] ghost opened #757 "[TLP]:"
### Email

admin@terrafried.com

### Company Name

UST DAO

### Your Position

Founder / Co-Founder

### Name

Nodoshi Skintamoto

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-06-03 01:35] humaint commented on #547
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/Soonaverse-%E2%80%94-WebApp?node-id=4780%3A47386

once the mint is over we will show banner and change the available box to show how many NFT are on sale/auction

[2022-06-03 01:35] humaint commented on #547
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/547?planning-poker) with ZenHub @adamunchained @Gundavri

[2022-06-03 01:38] humaint commented on #750
https://www.figma.com/file/bCO54KioJBPG00LUX4yBLi/Soonaverse-%E2%80%94-WebApp-(Darkmode)?node-id=3462%3A20203

[2022-06-03 01:39] humaint commented on #750
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/750?planning-poker) with ZenHub @adamunchained @Gundavri

[2022-06-03 13:29] AguilaAzul opened #759 "IP / DMCA Request:"
SoonLabs responds to notices alleging copyright infringement that comply with the United States Digital Millennium Copyright Act (the “DMCA”).  If you wish to make a DMCA claim, you must provide the following information in writing in your DMCA notice:

- identify the copyrighted work that you claim has been infringed;
- identify the material claimed to be infringing and where it is located;
- pro

[2022-06-03 13:31] AguilaAzul opened #760 "IP / DMCA Request:"
SoonLabs responds to notices alleging copyright infringement that comply with the United States Digital Millennium Copyright Act (the “DMCA”).  If you wish to make a DMCA claim, you must provide the following information in writing in your DMCA notice:

- identify the copyrighted work that you claim has been infringed;
- identify the material claimed to be infringing and where it is located;
- pro

[2022-06-03 13:32] AguilaAzul commented on #760
I agree

[2022-06-03 13:34] AguilaAzul opened #761 "invalid - use discussion forum"
**USE DISCUSSION FORUM**

https://github.com/soonlabs/soonaverse-dao/discussions

**USE DISCUSSION FORUM**

[2022-06-03 13:46] cht168 opened #762 "Price of NFT showing in Giota is not accurate."
**Describe the bug**
I want to purchase an NFT, Iotoapes to be precise. https://soonaverse.com/nft/0x33ae0ffcfe28b8708fc6f94efd177c50223b5403
It is listed as 2.39Gi. When I send 2.39Gi from Firefly, the message is "We received invalid amount, try again" and it return to my wallet.
I know I'm sending exactly 2.39Gi, but I think the seller might set the NFT to something like 2391Miota and it's only

[2022-06-03 16:55] adamunchained commented on #760
no information provided, closing as irrelevant.

[2022-06-03 16:55] #760 closed

[2022-06-03 16:55] adamunchained commented on #759
no information provided, closing as irrelevant.

[2022-06-03 16:55] #759 closed

[2022-06-03 16:55] adamunchained commented on #761
no information provided, closing as irrelevant.

[2022-06-03 16:55] #761 closed

[2022-06-03 21:14] adamunchained commented on #762
Checkout modal should always show price in Mi with all decimals. Please fix.

[2022-06-03 21:14] adamunchained commented on #762
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/762?planning-poker) with ZenHub @Gundavri

[2022-06-03 22:34] m3rlin5ky opened #764 "Join Spaces - Bug on counter logic "Pending Approvals""
**Describe the bug**
It is possible to create multiple  "Pending Approvals" by trying to enter a space multiple times
-> counter keeps counting the same person/member

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the FEE space
2. Click on Join Space
3. Repeat step 1. and 2.
=> The counter keeps counting the same soonaverse member multiple times.

[2022-06-04 11:00] milkteawu opened #765 "[Payment Issue]:"
### Discord Name

milkteawu#8280

### Soonaverse Profile Id

@milktea / 0x1eFF7D6051185aDABD747a7b7E26d22078c9Cb8b

### Payment Action

Other (Please describe in comments)

### Payment Problem

Other (Please describe in comments)

### Wallet Type

FireFly

### Wallet Version

1.6.2

### Payment Sent to Address

_No response_

### Amount Sent

_No response_

### Payment Message Id

_No response_

#

[2022-06-07 13:33] AguilaAzul opened #766 "YYY"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-06-07 13:34] AguilaAzul opened #767 "IP / DMCA Request:"
SoonLabs responds to notices alleging copyright infringement that comply with the United States Digital Millennium Copyright Act (the “DMCA”).  If you wish to make a DMCA claim, you must provide the following information in writing in your DMCA notice:

- identify the copyrighted work that you claim has been infringed;
- identify the material claimed to be infringing and where it is located;
- pro

[2022-06-07 13:37] AguilaAzul opened #768 "invalid - use discussion forum"
**USE DISCUSSION FORUM**

https://github.com/soonlabs/soonaverse-dao/discussions

**USE DISCUSSION FORUM**

[2022-06-07 15:58] Ronaldvdb opened #769 "[TLP]:"
### Email

aya@aya-nature.com

### Company Name

Aya Nature

### Your Position

Founder / Co-Founder

### Name

Ronald van den Boogaardt

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-06-08 00:18] csxiong opened #772 "The NFT page does not display all the properties completely."
**Describe the bug**
When the properties of an NFT exceed a certain number, the bottom part of the properties will be covered and not displayed properly. check this：
https://soonaverse.com/nft/0x2b915e191d6be771244de8ba83ad1d76d7e88fda

**Desktop (please complete the following information):**
 - OS: WIN10
 - Browser: Chrome
 - Version:  101.0.4951.67

[2022-06-08 07:23] centercirclesolutions commented on #744
Also it is hard to determine what transactions are for stuff you sold or stuff you bought

[2022-06-08 09:37] Gundavri commented on #712
@adamunchained I checked and cookie changes according to the language. ZH-CN: 'cn' and ZH-TW: 'tw'. But the names of the build folders are still zh_CN and zh_TW. Do we have some kind of map in the firebase where we can change it or should I name the build folders the same as cookie?

Also, I renamed labels in the language-change component as it was written in this description but it seems odd that

[2022-06-08 19:19] Hectorcubi opened #773 "[Payment Issue]:"
### Discord Name

@Hector#0634

### Soonaverse Profile Id

0xbA33B27dEA777C7b0e3bB49788AD93ae89D68E0D

### Payment Action

Other (Please describe in comments)

### Payment Problem

Other (Please describe in comments)

### Wallet Type

FireFly

### Wallet Version

1.6.2

### Payment Sent to Address

iota1qqa6qtt3tcjd0ld4h8vfnulrsd7xyys6fnm2vt5zy3wy3uvktr6uv9lcdwv

### Amount Sent

160

### Payment

[2022-06-08 19:21] Hectorcubi commented on #773
![image](https://user-images.githubusercontent.com/107147292/172699348-91988fd3-b1ab-4d77-8925-86b86e401826.png)
![image](https://user-images.githubusercontent.com/107147292/172699447-20cb2013-4bb3-42b2-8a5f-1cc6904f1166.png)
![image](https://user-images.githubusercontent.com/107147292/172699504-16f9ffb7-52af-4e0b-8cf6-f27a01970e13.png)

[2022-06-08 19:36] #768 closed

[2022-06-08 20:03] centercirclesolutions opened #774 "Update Tangle Listener"
## TangleListener updates for Stardust
- Implement TangleListener as a Hornet INX PLugin
- Add the ability to populate a variety of collections for different Networks
  - Shimmer Testnet: milestone_rms
  - Shimmer Net: milestone_smr
  - Current testnet (devnet): milestone_atoi
- Include invalid and doublespend transations in `transactions_conflict` sub-collection under the milestone

## TangleList

[2022-06-08 20:20] centercirclesolutions commented on #774
Current structure for firestore

[code]

Values for Inclusion state and ConflictReason:
[code]

[2022-06-08 20:21] centercirclesolutions commented on #774
@adamunchained do we need `inclusionStateText` and `conflictReasonText` ?

[2022-06-09 02:51] #767 closed

[2022-06-09 02:53] adamunchained commented on #769
We'll be opening up token launchpad / trading for any token very soon. Please stay patient. No need for approval.

[2022-06-09 03:04] adamunchained commented on #773
We are having some delays on few nodes, this seems to be now completed. See here: https://thetangle.org/message/7995359afcb7588e983d1782390e7498e3f39e2e2997e6492bb412659a4baa09

[2022-06-09 03:04] #773 closed

[2022-06-09 03:07] adamunchained commented on #765
I believe this has now been resolved: https://thetangle.org/message/779dd785f8d20d1f42f67a22981ab8fd8ae84c8cd2c072bb8683a491a9652e22

Sry about the delay, we are working on a fix to avoid this.

[2022-06-09 03:07] #765 closed

[2022-06-09 03:18] adamunchained commented on #774
what is this for?

[2022-06-09 03:34] adamunchained commented on #712
Have you seen the scripts/build.sh? We run this.

[code]

[2022-06-09 04:17] centercirclesolutions commented on #774
You've already answered this and I have not included the text. Only have the int representation of these

[2022-06-09 21:05] adamunchained opened #775 "Feedback on CEX"
@adamunchained commented on [Thu Jun 09 2022](https://github.com/soonaverse/soonaverse/issues/1051)

@humaint - can you review feedback pls

---
[code]

https://discord.com/channels/892481940953915433/917498561040625716/984372299941707836

[2022-06-09 22:07] adamunchained commented on #742
It's an issue with the counter. It would keep increasing when the same member tries to request to join multiple times. It'll be fixed as part of the https://github.com/soonaverse/soonaverse-dao/issues/764

[2022-06-09 22:07] #742 closed

[2022-06-10 00:22] adamunchained commented on #762
We should no longer show Gi / Ti / Pi but show everything across the system in Mi. This will make it consistent with new networks we are adding such as SMR / RMS.

Fix the system to show IOTA’s everywhere in Mi with up to 6 decimals. On trading page it should stay fixed at 6 decimals as it is right now.

[2022-06-10 03:21] adamunchained commented on #764
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/764?planning-poker) with ZenHub @boldizsar-a-mezei

[2022-06-10 03:21] adamunchained commented on #584
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/584?planning-poker) with ZenHub @Gundavri

[2022-06-10 03:21] adamunchained commented on #633
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/633?planning-poker) with ZenHub @Gundavri

[2022-06-10 12:37] Gundavri commented on #712
@adamunchained Yes I wrote those 4 lines but I want to know how does firebase map cookie value to the built files. If I just change folder names to exactly what the cookie is, like this:
mv ./dist/localized/pt-BR ./dist/localized/br
mv ./dist/localized/pt-PT ./dist/localized/pt
mv ./dist/localized/zh-CN ./dist/localized/cn
mv ./dist/localized/zh-TW ./dist/localized/tw

[2022-06-10 14:07] Gundavri commented on #701
There is probably some other problem. Changing order should not produce this bug according to the code and it doesn't when I test it.

[2022-06-10 15:27] adamunchained commented on #712
It’s little blackbox to be honest. The best is to read their documentation how i18n works and use the firebase emulator to test. I’ll move this now to next sprint as the freeze is today and we ran out of time.

[2022-06-10 16:01] adamunchained commented on #701
Ok @antonionardella - any chance you could provide more detailed steps to reproduce? You can test this in our test account on wen.soonaverse.com

[2022-06-11 06:04] LunarBuddies opened #776 "[TLP]:"
### Email

post@miota.no

### Company Name

Lunar Buddies

### Your Position

CEO

### Name

Marius

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-06-11 09:16] imClement opened #777 "[marketplace][important] - The rounded price in Gi creates problems"
- Classic NFT Collection
- NFT uploaded through .csv (multiple)

**The Problem**

The price displayed to  the users is incorrectly rounded to Gi with 2 decimals but it doesn't reflect the real price so their amounts (based on the rounded amount) are always returned as incorrect.

Eg:
The price in  IOTA:  1436000000
The rounded price in Gi:  1.44

[2022-06-11 11:27] #737 closed

[2022-06-12 14:50] terrafried commented on #776
apparently they just ignore you for weeks if you post here

[2022-06-12 16:31] gmanredmond commented on #776
I will be reaching out to you this week. To gather further info.

[2022-06-12 17:12] gmanredmond commented on #769
"I apologize for the delayed response. Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required."

[2022-06-12 17:12] gmanredmond commented on #757
"I apologize for the delayed response. Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required."

[2022-06-12 17:13] gmanredmond commented on #741
"I apologize for the delayed response. Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required."

[2022-06-12 17:13] gmanredmond commented on #729
"I apologize for the delayed response. Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required."

[2022-06-12 17:14] gmanredmond commented on #727
"I apologize for the delayed response. Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required."

[2022-06-12 17:14] gmanredmond commented on #721
"I apologize for the delayed response. Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required."

[2022-06-12 17:15] gmanredmond commented on #735
"I apologize for the delayed response. Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required."

[2022-06-12 17:15] gmanredmond commented on #743
"I apologize for the delayed response. Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required."

[2022-06-12 17:16] gmanredmond commented on #731
"I apologize for the delayed response. Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required."

[2022-06-12 17:16] gmanredmond commented on #737
"I apologize for the delayed response. Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required."

[2022-06-13 01:06] Moonshot7161969 opened #778 "Token Launchpad Form - Token Supply Form Field issue"
**Describe the bug**

The minimum price in the Token supply form field is currently set at 0.01

It needs to be allowed to set it to 0.00 (at least temporarily) due to legal/tax issues. This is an urgent issue, and without that we can't proceed with the application.

@adamunchained
![Soonaverse - Invalid Price](https://user-images.githubusercontent.com/95666308/173262024-f943956d-b344-491e-9632-8b

[2022-06-13 13:35] adamunchained opened #779 "Not matching trade?"
@adamunchained commented on [Mon Jun 13 2022](https://github.com/soonaverse/soonaverse/issues/1064)

Not matching trade? See below
<img width="619" alt="Screen Shot 2022-06-13 at 6 28 46 AM" src="https://user-images.githubusercontent.com/130610/173364504-eb8f08f6-6dd2-4641-abf6-b66c9c3c8d46.png">

[2022-06-13 13:42] AguilaAzul opened #780 "ISNT BUG"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-06-13 14:07] adamunchained commented on #779
@humaint - can you think about how to improve the UI and explain this rule so ppl don’t think our system is not matching?

[2022-06-13 14:44] AguilaAzul opened #781 "invalid - use discussion forum"
**USE DISCUSSION FORUM**

https://github.com/soonlabs/soonaverse-dao/discussions

**USE DISCUSSION FORUM**

[2022-06-13 14:49] csxiong commented on #779
There is a way to possibly alleviate this problem. It is that when the buyer pays, the system charges an extra 1Mi as a refund deposit, and if the buyer has less than 1Mi left after the purchase, then the deposit is refunded to him along with the balance, and his order is ended at the same time.

[2022-06-13 15:55] priceactionbars opened #782 "[TLP]:"
### Email

priceactionbars@gmail.com

### Company Name

IOTA robot club apes

### Your Position

CEO

### Name

pab

### Have you already done a public sale?

No

### Files and other information

_No response_

[2022-06-13 16:04] adamunchained opened #783 "Ask/Bids should match same owner"
@boldizsar-a-mezei

Please investigate why these buy/sell were not fulfilled.
<img width="1244" alt="Screen Shot 2022-06-13 at 7 51 49 AM" src="https://user-images.githubusercontent.com/130610/173396242-3a1ecb3f-392a-468b-ab8b-86fb9c87f693.png">

Also, change the system and allow bids/asks to be fulfilled by same owner. There is no reason to disallow it.

[2022-06-13 16:17] adamunchained commented on #779
@csxiong - partial fulfilment are very important for us. It increase chance to match bids / asks so we would not want to eliminate those.

Asking additional 1 Mi is not enough as there could be xx fulfilment. Although, I do see us utilizing Storage Deposit  in Stardust upgrade to get around this.

[2022-06-13 16:19] adamunchained commented on #779
@humaint - FYI @csxiong suggested following under each grouped line
![unknown-1](https://user-images.githubusercontent.com/130610/173398799-3835e33f-631d-475f-beec-7dcc7fd48e29.png)

I'm not sure if I'm big fan of this as I've not seen it on many other exchanges and it might make it unnecessary complex. Also, I do think we have other higher priorities in #775 we should prioritize first.

[2022-06-13 16:52] Randpic opened #784 "Does not allow CSV import correctly to NFT collection multiple"
When it comes to uploading a collection of 500 NFT, almost every time the process is not finished. Because it doesn't let you load the .CSV files correctly with the NFT properties.

The page always freezes and crashes. I have tried it in other browsers and the same thing happens in all.

It's been more than 2 days, approximately 6 hours each day and I haven't been able to finish the process, it al

[2022-06-13 19:45] mexaverso commented on #735
Thank you so much. Ill be pleased to work along with you if anything needed.

Best regards!
Armando
http://mexaverso.mx

El dom, 12 jun 2022 a la(s) 12:15, Gman214 ***@***.***)
escribió:

[2022-06-13 20:18] gmanredmond commented on #782
Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required.

[2022-06-13 20:23] #780 closed

[2022-06-13 20:23] #781 closed

[2022-06-13 20:24] adamunchained commented on #778
ah! That make sense. We'll schedule to improve it for the next release. It should really be part of "schedule sale" function.

[2022-06-13 20:29] adamunchained commented on #777
We are completely changing representation of IOTAs across the system to be aligned with Shimmer.

This will be part of #762

[2022-06-13 20:29] #777 closed

[2022-06-13 20:32] adamunchained commented on #778
@humaint - I think there are two challanges:
- Many times price needs to be set prior the SALE. Sometimes just 1h before the scheduled time.
- Sometimes price can be 0 and stay zero.

I'm thinking we should remove setting of the price within the token creation. It'll be part of "Schedule Sale" function and price can be change anytime until xx minutes before actual sale.

thoughts?

[2022-06-13 20:35] celarium3945 opened #785 "issue in the book order"
![image](https://user-images.githubusercontent.com/103221824/173440602-1eed6704-3e2b-4022-8757-2544a9148270.png)

the 8250 fee ask should have been executed
the 142.xx bid also
did I miss something?

[2022-06-13 20:36] adamunchained commented on #785
You did not. We're looking at it right now and working on a fix. Please see #783

I hope the fix will come out within next few hours.

Thank you for reporting this.

[2022-06-13 20:36] #785 closed

[2022-06-13 20:42] Moonshot7161969 commented on #778
Yes, this would be the ideal solution. When an IPO in a stock market is about to be listed, the sponsor and/or market maker is negotiating the opening price of the security hours and minutes up to the actual launch.

[2022-06-13 23:43] csxiong commented on #779
The trade matching system is designed in such a way that for a specific token, it processes orders synchronously, not asynchronously. It is sorted by timestamp and then forms a sequence to be handled one by one for matching, so there is no situation where one order will be matched by multiple opposite orders at the same moment as you said. So I still think 1Mi is sufficient.

[2022-06-14 00:36] adamunchained commented on #779
How so? I've used various exchanges that would do partial fulfilment. Very commonly on an exchange you would see your bid or your ask being partially fulfilled.

The difference on exchange is that partial fulfilment is just deposited within the exchange. Instead Soonaverse process transaction directly on tangle. This means we have to respect 1 Mi rule. Each buy goes into isolated wallet and those

[2022-06-14 01:09] humaint commented on #744
@centercirclesolutions can you pls retest this in wen.soonaverse.com

[2022-06-14 01:09] humaint commented on #744
@centercirclesolutions can you pls retest this in wen.soonaverse.com

[2022-06-14 01:31] csxiong commented on #779
Note that I did not say that an order cannot be partially fulfilled; I emphasized that it will not be partially fulfilled in an asynchronous manner by multiple opposing orders, but rather partially fulfilled in order of their timestamps. In this case, only the last order to be matched will trigger it for refund processing.

[2022-06-14 02:06] humaint commented on #772
@Gundavri increase/remove the max-height of the collapsible property box

[2022-06-14 02:06] humaint commented on #772
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/772?planning-poker) with ZenHub @adamunchained @Gundavri

[2022-06-14 06:28] chriscsc opened #786 "[Payment Issue]:"
### Discord Name

chaeツ#1840

### Soonaverse Profile Id

0x47bfefba9bcdb3e811708c01cfd2cb1579441847

### Payment Action

Other (Please describe in comments)

### Payment Problem

Other (Please describe in comments)

### Wallet Type

FireFly

### Wallet Version

1.6.2

### Payment Sent to Address

_No response_

### Amount Sent

_No response_

### Payment Message Id

_No response_

### NFT Id

_No

[2022-06-14 06:34] chriscsc commented on #786
The five orders got filled 100%
![SCR-20220614-jtu](https://user-images.githubusercontent.com/3703735/173508430-07259afc-d12e-4739-9eaa-4b011e0fb6a4.png)

Only received 4 in my firefly wallet
![SCR-20220614-k4k](https://user-images.githubusercontent.com/3703735/173508507-19a9da59-cd25-44b0-81ca-2c82b9a7fbf0.png)

Many conflicting transactions shown in iota explorer, that 19.2 Mi never arrives, not

[2022-06-14 12:43] priceactionbars commented on #782
Thank you, I also want to say, that I would like to change the token supply of ape token to 1 00 000 000 000 (11 zero's) and the price per token should be 0.1 Mi instead 1 Mi. There seem to have been a "potential parsing error' like Ziggy said from discord support, that's why I wasn't abele to add more zero's to the token supply so I deleted some zero's from the token supply and it succeed.

Hopef

[2022-06-14 14:47] gmanredmond commented on #782
Acknowledged. The team is looking into it.

[2022-06-14 15:17] adamunchained commented on #783
This has been fixed. We've moved "royalty" space ID into the code instead of environmental config. This was done so we have audit log on what the space ID is and we can also share it with libraries/front-end. We've set wrong space in production and it blocked matching queue for some transactions.

[2022-06-14 15:17] #783 closed

[2022-06-14 19:02] centercirclesolutions commented on #744
It finally completed but too over 30 minutes. I have 32 pages of transactions

[2022-06-15 03:17] adamunchained commented on #786
@chriscsc we have improved payment re-processing to avoid these conflicts on tangle. These issues started to appear on partially fulfilled sales. We have released hot-fix for this tonight. Your payment should also be processed now.

[2022-06-15 03:17] #786 closed

[2022-06-15 03:43] adamunchained commented on #779
Right, I see what you're saying. So we do actually settle the refund at the end.

[code]

Only once the buy is settled (fully fulfilled) we would refund. If I'm not mistaken there were some other scenarios where we might need more then one 1Mi (although that might been specific to paying out royalties). I can't recall. Let us finish shimmer integration (https://github.com/soonaverse/soonaverse/iss

[2022-06-15 12:39] Jasariak opened #788 "[TLP]:"
### Email

kacperbiedronski@gmail.com

### Company Name

Lexip

### Your Position

Founder / Co-Founder

### Name

Kacper Biedronski

### Have you already done a public sale?

No

### Files and other information

_No response_

[2022-06-16 04:51] bonifatius5 opened #789 "[Payment Issue]:"
### Discord Name

@staniol#5488

### Soonaverse Profile Id

0x366b354931c4a112866850F3E17DB1cAC2171515

### Payment Action

Other (Please describe in comments)

### Payment Problem

Other (Please describe in comments)

### Wallet Type

FireFly

### Wallet Version

1.6.2

### Payment Sent to Address

iota1qpa0l9gmdagrnct0s0n67vfdm5k252vulc6ql0mpztw9kk6ncgfevvq394k

### Amount Sent

684 Mi

### Paym

[2022-06-16 04:55] adamunchained commented on #789
<img width="1741" alt="Screen Shot 2022-06-15 at 9 54 18 PM" src="https://user-images.githubusercontent.com/130610/173994105-d893910f-59bf-4a81-b0c2-a3fe03d2553f.png">

You can see $SOON tokens on your profile. After the sale is finished, it will turn into "token owned".

[2022-06-16 04:55] #789 closed

[2022-06-16 05:01] bonifatius5 commented on #789
Ok. Thanks for the quick reply. Then I wait until the period is over.

[2022-06-16 13:03] csxiong commented on #779
Yes, I am interested in participating and hope to be of some help.

[2022-06-17 11:37] frankie66 opened #790 "[TLP]:"
### Email

post@the-mercy-x.com

### Company Name

The Mercy X

### Your Position

Founder / Co-Founder

### Name

Phyber66

### Have you already done a public sale?

No

### Files and other information

_No response_

[2022-06-17 14:58] IrinaY1 opened #791 "[TLP]:"
### Email

galleryofgalaxyart@protonmail.com

### Company Name

The First Gallery of Galaxy Art

### Your Position

CEO

### Name

Irina Y.

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-06-17 21:27] gmanredmond commented on #790
Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required.

[2022-06-20 00:11] csxiong opened #793 "The discounted price after mint is displayed incorrectly"
**Describe the bug**
If an NFT sets a discounted price, it displays the discounted price normally before Mint. But when after Mint, it will treat the discounted price as the original price and then discounted again to display.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://soonaverse.com/nft/0xa58b2685cfb41b465ee329ad8e09a7386433d381'
2. Click on 'Generated NFT'
3. You can se

[2022-06-20 06:02] Travetown opened #794 "Purchase prices for P2P (reserved for a person) sales are not taken into account."
If an NFT is reserved by one person for another person, the actual purchase price will not be taken into account, but rather the last price achieved via the marketplace.
This certainly makes sense in the case of sales (swap) for 1 MI, but has disadvantages when dealing with real sales as in this example.

<img width="831" alt="Bildschirmfoto 2022-06-20 um 07 51 38" src="https://user-images.githubu

[2022-06-21 20:13] gmanredmond commented on #791
Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required.

[2022-06-22 15:34] thenikoboxman opened #795 "[TLP]:"
### Email

thenikoboxman@gmail.com

### Company Name

Mr. Moose's Wonderland

### Your Position

Founder / Co-Founder

### Name

Tim L./ Mr.Moose

### Have you already done a public sale?

No

### Files and other information

_No response_

[2022-06-22 16:52] SeanTMartin opened #796 "Token price incorrect at checkout"
User is given a price at checkout that results in an invalid amount error when the matching amount is sent, so they cannot buy tokens. Unclear if this is related to any rounding so made a new issue.

![unknown-7](https://user-images.githubusercontent.com/38050901/175093614-e43bad6b-9057-407f-9187-18f979aa1385.png)

![unknown-8](https://user-images.githubusercontent.com/38050901/175093627-bc6139ef-

[2022-06-22 21:32] shonuffy opened #797 "New Homepage does not work on Safari or mobile"
Videos do not play, per Adam there need to be changes to code submitted by our contracted designer to correct this. Submitting a formal request to Github to help track the issue.

[2022-06-23 03:23] adamunchained opened #798 "New TanglePay icon to recognize FIAT Support"
See below:

![Fiat](https://user-images.githubusercontent.com/130610/175201352-927f48c1-1191-481b-9f6c-4b6d66850ad1.png)

just re-assign if all good

[2022-06-23 03:40] adamunchained commented on #797
cool, let me know once the designer finish.

[2022-06-23 03:53] centercirclesolutions opened #799 "Claim tokens not working on Mobile"
**Describe the bug**
^^^ Need I say more?

[2022-06-23 06:16] centercirclesolutions opened #800 "Rounding 1498 MI to 1.5 GI"
**Describe the bug**
![image](https://user-images.githubusercontent.com/44786846/175228396-36066de5-c2d0-48f6-b8c5-0a9a414dbf19.png)

[2022-06-24 00:31] humaint commented on #798
@adamunchained where do you want to put this?

[2022-06-24 00:33] adamunchained commented on #798
I was thinking in the pop-ups button where we show pay with firefly / tanglepay

[2022-06-24 00:41] humaint commented on #798
![SCR-20220624-eth.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/b0606ddf-0d8e-45c7-9844-affae4c93597)

you want to add another button or just update the logo?

is there any difference in the link?

[2022-06-24 00:58] adamunchained commented on #798
Just update the logo. Everything stays the same. Link is same.

[2022-06-24 07:49] Eicke-S commented on #746
Same error occurs for user @Eicke since yesterday.

[2022-06-24 19:18] centercirclesolutions opened #801 "IP / DMCA Request:"
SoonLabs responds to notices alleging copyright infringement that comply with the United States Digital Millennium Copyright Act (the “DMCA”).  If you wish to make a DMCA claim, you must provide the following information in writing in your DMCA notice:

The attached collection is selling pictures of IF members without the explicit permission
https://soonaverse.com/collection/0xb2939ae7aa75c61e691a

[2022-06-24 23:37] shonuffy commented on #797
You said you were going to have to fix this. My developer can't work with the zip file you sent me.

[2022-06-27 15:39] cometax opened #802 "Percentage of vote mismatch between Proposals page and proposal overview page"
**Describe the bug**
The percentages shown on the proposal page does not match the actual voting percentage. See attached picture which shows 99.40% yes, 0.60% No and on the actual proposal it shows 25% No 75% Yes.

https://soonaverse.com/space/0xf8785326be124a1dbebb21f6bd2649c63186cd4d/proposals (shows 99.4% yes)
https://soonaverse.com/proposal/0xf8548726258a206c3b0d69506d0b1d4521133844/overview

[2022-06-27 18:11] BSlusnys opened #803 "[TLP]:"
### Email

BSlusnys@icloud.com

### Company Name

Rotisserie Chickcoin

### Your Position

CEO

### Name

Bananis Slusnys

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-06-27 19:00] michaelqtodd opened #804 "[TLP]: ADVANCE TOKEN"
### Email

michaelqtodd@gmail.com

### Company Name

Life Trees

### Your Position

Founder / Co-Founder

### Name

Michael Todd

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-06-30 10:08] szeslite opened #806 "Chinese translation not showing"
**Describe the bug**
Chinese translation is not showing on the website when selected,

**To Reproduce**
Steps to reproduce the behavior:
1.Go to soonaverse.com

2.Click on ZH-CH   or ZH_TW

3.See error : English text remains in place

**Expected behavior**
show chinese

**Screenshots**
![8C5PV7R5WNY~Q$TLJROOW59](https://user-images.githubusercontent.com/42364556/176651563-3f97860c-bfd1-4e3a-9e4d-5

[2022-06-30 15:51] mexaverso opened #807 "Initate procedure to change my connected Metamask."
**Metamask wallet change**
I lost my wallet seed. Urgent for me to change my Metamask to keep advancing further work in my space in the prevention of future dispositive change. I still have normal access to my current Metamask wallet and identity.
My user is: @iota 2.0 en español
My current wallet is: iota1qz585km3eemnz2dmu6ah384mjxk205yw9aylxmndfv8usxrgw04rcvw4ke4

**To Reproduce**
Steps to repro

[2022-06-30 16:17] #807 closed

[2022-06-30 16:23] mexaverso commented on #807
Solved. Sorry. Thanks.

[2022-07-02 11:21] DanielTrauth opened #808 "[TLP]: tsywt by FB"
### Email

mail@senseering.de

### Company Name

senseering Gmbh

### Your Position

Founder / Co-Founder

### Name

Daniel Trauth

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-07-04 15:33] SeanTMartin opened #809 "Transaction export button stuck on 'Exporting CSV'"
The export button gets stuck on 'Exporting CSV' and the icon spins, but no csv file is ever generated.

![image](https://user-images.githubusercontent.com/38050901/177183252-91b7cc1b-8f03-430c-ba2c-20938cc4da03.png)

Disabling adblocker makes no difference.

[2022-07-04 16:10] #774 closed

[2022-07-04 16:44] tector opened #810 "[Payment Issue]:"
### Discord Name

@tector#3359

### Soonaverse Profile Id

0x4baa74f0fd9a3734cde5ef377caaa456e3023c86

### Payment Action

Other (Please describe in comments)

### Payment Problem

Other (Please describe in comments)

### Wallet Type

TanglePay

### Wallet Version

Tanglepay v1.3.4

### Payment Sent to Address

iota1qpj2vxjhgy9zq38fskte066d8lg5uq9ylcttds48zn4a2fsdx3n2yc5xh84

### Amount Sent

10 M

[2022-07-05 08:36] tector commented on #810
I found that the order is not fullfilled yes, it is listed under 'my bids'

Just found the information because i got a hint on discord - it was not easy to find! The UX should be improved.

ISSUE CLOSED

[2022-07-05 08:36] #810 closed

[2022-07-05 18:15] gmanredmond commented on #795
Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required.

[2022-07-05 18:17] gmanredmond commented on #803
This seems like spam.  Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required.

[2022-07-05 18:18] gmanredmond commented on #804
Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required.

[2022-07-05 18:19] gmanredmond commented on #808
Applications will begin to be processed after our token sale. We will follow up with you if any additional information is required.

[2022-07-06 06:23] DanielTrauth commented on #808
I thought the TLP helps with the token sale? Or am I wrong?

[2022-07-08 00:49] shonuffy commented on #808
@DanielTrauth Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay t

[2022-07-08 00:51] shonuffy commented on #804
@michaelqtodd Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay t

[2022-07-08 00:51] shonuffy commented on #803
@BSlusnys Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay to ou

[2022-07-08 00:52] shonuffy commented on #795
@thenikoboxman Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay

[2022-07-08 00:52] shonuffy commented on #791
@IrinaY1 Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay to our

[2022-07-08 00:53] shonuffy commented on #790
@frankie66 Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay to o

[2022-07-08 00:53] shonuffy commented on #788
@Jasariak Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay to ou

[2022-07-08 00:54] shonuffy commented on #782
@priceactionbars Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pa

[2022-07-08 00:55] shonuffy commented on #776
@LunarBuddies Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay t

[2022-07-08 00:57] shonuffy commented on #757
Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay to our vendor).

[2022-07-08 00:57] shonuffy commented on #743
@JoseGuarny Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay to

[2022-07-08 00:58] shonuffy commented on #741
@sstklen Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay to our

[2022-07-08 00:58] shonuffy commented on #735
@mexaverso Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay to o

[2022-07-08 00:58] shonuffy commented on #731
@IOTAstable Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay to

[2022-07-08 00:59] shonuffy commented on #729
@IotaQI Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay to our

[2022-07-08 00:59] michaelqtodd commented on #804
OK thank you very much I understand
Michael

Connect with me anywhere online at about.me/michaelqtodd anytime please. I
will do my best to connect back.

On Fri, Jul 8, 2022 at 10:51 AM shonuffy ***@***.***> wrote:

[2022-07-08 00:59] shonuffy commented on #727
@Tanglebeast Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay to

[2022-07-08 01:00] shonuffy commented on #721
@cubensos Here are next steps in the KYC process.

Please go to the Soonaverse and apply for the KYC applicant badge. Make certain to make it clear in your application who you are or give me that information here. (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview).

I will issue this badge to you so, you can access the TLP KYC NFT (250 Mi, which is used to pay to ou

[2022-07-08 01:11] michaelqtodd commented on #804
I hope this is correct

On Fri, Jul 8, 2022 at 10:58 AM Michael Q Todd ***@***.***>
wrote:

[2022-07-08 08:05] priceactionbars commented on #782
I applied for the badge applicant on SOONAVERSE under the name: @IotaApes

[2022-07-08 08:11] shonuffy commented on #782
Approved

[2022-07-08 20:02] shonuffy commented on #782
Yes, correct. You do it on your own.

[2022-07-09 00:05] SeanTMartin opened #811 "Impossible to find out who an NFT is listed for."
An individual NFT's page on the Soonaverse doesn't indicate who can purchase it - even to the one who listed it. This is an especially acute problem for those following the giveaway procedure of listing NFTs to giveaway winners for 1mi. The one listing the NFTs has no way to track what NFT can be purchased by what user and the recipients have no choice but to search through every NFT it could be i

[2022-07-09 00:26] mexaverso commented on #735
I have just applied to the KYC applicant badge as instructed. I added this note: "Can the name of the token still be changed to "Mexitoken"? If so please issue "Mexitoken" instead of "Mexicoin" If not please go ahead with "Mexicoin".
Thanks

[2022-07-09 00:33] shonuffy commented on #735
Shouldn't be an issue as the token hasn't been created yet

[2022-07-09 00:34] shonuffy commented on #735
Badge approved

[2022-07-09 07:09] priceactionbars commented on #782
I confirm I bought the badge of 250Mi

Kind regards

[2022-07-09 12:40] mexaverso commented on #735
Hi. I´ve purchased the TLP KYC NFT.
Purchase Message ID ( https://explorer.iota.org/mainnet )
ddd1c1e3df56b801134fe10403b0e652228df715c335faa5b6d79ff00b8f98d3
I look forward to take the following step :D

Best Regards
@ Mexaverso&ThePurpleCow
Armando Rosales - email: mexaverso@gmail.com

[2022-07-09 21:40] IOTAstable commented on #731
Thanks for your reply.  I have completed the first step and will await
approval for the KYC badge.

Appreciate the work being done here.

On Thu, Jul 7, 2022 at 7:59 PM shonuffy ***@***.***> wrote:

[2022-07-10 06:11] shonuffy commented on #735
Thank you. Your information has been forwarded to Driftwood, they will be contacting you directly via the email you provided.

[2022-07-11 01:22] shonuffy commented on #731
Confirmed. Badge issued

[2022-07-11 01:37] IOTAstable commented on #731
Thanks, the NFT has been purchased, thanks so much again for your help.

[2022-07-11 02:15] shonuffy commented on #731
Thanks, the NFT has been purchased, thanks so much again for your help.

[2022-07-11 02:15] shonuffy commented on #731
Thank you. Verified. I’ve forwarded your information to Driftwood, they will be contacting you via the email information you provided.

[2022-07-11 04:36] michaelqtodd commented on #804
Hi I paid the 250 Mi what should I do now please

On Fri, Jul 8, 2022 at 11:11 AM Michael Q Todd ***@***.***>
wrote:

[2022-07-11 04:53] shonuffy commented on #804
NFT ownership confirmed. Your contact information has been sent to Driftwood, they will be contacting you via the email information you provided in this request.

[2022-07-11 05:20] michaelqtodd commented on #804
Thank you!

Connect with me anywhere online at about.me/michaelqtodd anytime please. I
will do my best to connect back.

On Mon, Jul 11, 2022 at 2:53 PM shonuffy ***@***.***> wrote:

[2022-07-11 13:00] fanyinan2008 opened #812 "[TLP]: SNO TOKEN"
### Email

fanyinan2008@gmail.com

### Company Name

SnowMan Finance

### Your Position

Founder / Co-Founder

### Name

Scott Fan

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-07-11 22:46] shonuffy commented on #812
Hi @fanyinan2008 could you please apply for the KYC application badge  (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview). After its approved you will need to purchase the TLP KYC NFT (https://soonaverse.com/collection/0x779f686073adfd2c2962e1d4d749f13e179f8e0b), then our KYC vendor Driftwood will contact you.

[2022-07-12 01:07] #775 closed

[2022-07-12 07:01] MarlonMorales0 opened #813 "[TLP]:"
### Email

marlon.morales@iota-plus.com

### Company Name

IOTAplus AG

### Your Position

Founder / Co-Founder

### Name

Marlon Morales

### Have you already done a public sale?

Yes

### Files and other information

_No response_

[2022-07-12 11:13] dossy88 commented on #804
Your vita is very suspicious.....

[2022-07-12 20:42] shonuffy commented on #813
Could you please apply for the KYC application badge (https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview). After its approved you will need to purchase the TLP KYC NFT (https://soonaverse.com/collection/0x779f686073adfd2c2962e1d4d749f13e179f8e0b), then our KYC vendor Driftwood will contact you.

[2022-07-13 10:28] TFTIzaac opened #814 "[TLP]:"
### Email

izaac@thefanstogether.io

### Company Name

The Fans Together

### Your Position

Founder / Co-Founder

### Name

Izaac Marshall

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-07-13 22:44] humaint opened #815 "Update of Overview page"
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/WebApp?node-id=2736%3A37764

[2022-07-14 19:41] shonuffy commented on #812
Your badge has been approved. Please notify me here that you have purchased the NFT and I will verify and send your information to our KYC vendor.

[2022-07-14 19:41] shonuffy commented on #814
Your badge has been approved. Please notify me here that you have purchased the NFT and I will verify and send your information to our KYC vendor.

[2022-07-14 21:30] adamunchained opened #816 "Fixed localization issue and number formatting"
@adamunchained commented on [Thu Jul 14 2022](https://github.com/soonaverse/soonaverse/issues/1125)

<img width="934" alt="Screen Shot 2022-07-14 at 2 28 50 PM" src="https://user-images.githubusercontent.com/130610/179089416-01b41c68-3f37-4ec6-b0e2-0b5c53611390.png">

[2022-07-15 06:57] TheGoldenRat opened #817 "[TLP]:"
### Email

shimmer.inu@gmail.com

### Company Name

Shimmer Inu Foundation

### Your Position

Founder / Co-Founder

### Name

GoldenRat

### Have you already done a public sale?

No

### Files and other information

_No response_

[2022-07-15 21:42] IOTAstable commented on #731
Driftwood has confirmed that my KYC is completed.  Thank very much for your help.  I am applying for the badge presently.

[2022-07-16 00:05] TheGoldenRat commented on #817
KYC NFT purchased

[2022-07-16 09:12] priceactionbars commented on #782
Dear Shonuf
We've  done every step regarding KYC process and participated for the the last complete KYC badge.
Can you confirm that you've received and will unlock the token capability on the platform ?

Kind regards
IotaApes

[2022-07-16 09:13] shonuffy commented on #782
We have not received confirmation from Driftwood, so you will have to wait until that comes through.

[2022-07-16 12:00] priceactionbars commented on #782
I received confirmation since friday.
Okay, I'll wait then when they confirm it to you too. Probably they forgot it.

Thank you for your respond

kind regards

[2022-07-16 13:56] priceactionbars commented on #782
Dear Shonuf

I'll let you now that they send me a message around 14:28 that they have send you(soonlabs) a notification regarding KYC verification.

Can you confirm it's now fixed and can now unlock token capability on soonaverse?

Kind regards

[2022-07-17 01:49] michaelqtodd commented on #804
Hi what is vita please. I 100% assure you there is nothing at all suspicious about me. We are sending organic food from Kenya to Europe and using the IOTA TLIP process. We hope to add a token to our supply chain model. How long does this process take?

[2022-07-19 10:11] priceactionbars commented on #782
Can you recheck it? they have said to me they already send a message since 3 days ago regarding the verification.

Kind regards

[2022-07-22 05:53] humaint commented on #722
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Public-Master-61a51a3547b2090011dce2d2/issues/soonaverse/soonaverse-dao/722?planning-poker) with ZenHub @adamunchained @Gundavri

[2022-07-22 05:54] humaint commented on #799
https://www.figma.com/file/7ER3oGXPRXHCEoUGuUfSLl/Responsive?node-id=3351%3A23269

Member tokens + claim process added to responsive design

[2022-07-22 15:13] mexaverso commented on #735
Please terminate all active awards in Mexaverso ("The Mexaverse") space since Im now designing new mechanics for Mexitoken distribution/airdrops. There are 3 active awards please terminate them all immediately.

[2022-07-22 20:08] shonuffy commented on #735
You haven't configured a token so there is nothing to "terminate"

[2022-07-22 20:08] shonuffy commented on #735
Awards can't be cancelled or deleted

[2022-07-22 22:36] mexaverso commented on #735
ok

[2022-07-29 07:14] craftingstudio opened #818 "RMS instead of SMR shown on purchase pages of Wen test Soonaverse"
When viewing any page where sending SMR tokens is required:

https://imgur.com/gallery/BVdQf4g

You're told to send "RMS" which is the address structure, not the coin, the better way to phrase would either be

"Send 0.x SMR to x address"
or
"Send 0.x SMR from a RMS address to x address"

[2022-08-02 11:42] calosan24 opened #819 "[TLP]:"
### Email

apeegyptianart@gmail.com

### Company Name

Ape Egyptian Art

### Your Position

CEO

### Name

Cayetano

### Have you already done a public sale?

No

### Files and other information

_No response_

[2022-08-02 19:07] baylander opened #820 "[Airdop issue]: Missing soonaverse claim possibility for the three SOON token airdrops"
### Discord Name

BayLander#4519

### Soonaverse Profile Id

### Payment Action

Other (Please describe in comments)

### Payment Problem

Other (Please describe in comments)

### Wallet Type

Other (Please describe in comments)

### Wallet Version

1.6.5

### Payment Sent to Address

### Amount Sent

_No response_

### Payment Message Id

_No response_

### NFT Id

_No response_

### NFT Collecti

[2022-08-03 09:34] MF080961 opened #821 "[Payment Issue]:"
### Discord Name

Mifer#4141

### Soonaverse Profile Id

0x3649f1ebd3dc05c3716608ea467bfa76f5bae42b

### Payment Action

Purchase NFT from Collection

### Payment Problem

Other (Please describe in comments)

### Wallet Type

FireFly

### Wallet Version

1.6.4.

### Payment Sent to Address

iota1qpdxvh2t02zcee0sk2m653h0n8n2kt5hmz92k4dyhy5gh5yy9hmcw3tmm84

### Amount Sent

190

### Payment Message

[2022-08-03 14:16] Gundavri commented on #798
@humaint @adamunchained Dark version of those logos would be great because of the way they are currently almost not visible.

[2022-08-03 17:39] #801 closed

[2022-08-03 18:37] mexaverso commented on #735
Hi. Where can I get informed of soonaverse launchpad tokens technical info? So I can figure out some features to offer to my potential purchasers for example token as access key, etc. Is any documentation available? or who can i ask for technical info?

[2022-08-04 01:58] humaint opened #822 "Pay with any token and we will make conversion"
- 50 SMR -> pay with soon and use conversion rate based on the order book
- no liquidity - can't use
- exchange rate is not guaranteed (depth of order book)
-

[2022-08-04 13:33] adamunchained commented on #784
This should be fixed in upcoming release, if you still have an issue let us know. We have done a lot of improvements on browser usage that might have been causing this.

[2022-08-04 13:33] #784 closed

[2022-08-04 13:34] adamunchained commented on #796
In upcoming release we have clean up all the units and how they show. This is fixed.

[2022-08-04 13:34] #796 closed

[2022-08-04 13:39] adamunchained commented on #802
I agree! It should be consistent.

We'll be redoing our voting mechanics to fully run on Shimmer therefore for now we will not be touching our legacy logic and it'll be working correctly in upcoming release.

[2022-08-04 13:39] #802 closed

[2022-08-04 23:41] HellGuerra opened #823 "[Payment Issue]:"
### Discord Name

@HellGuerra

### Soonaverse Profile Id

0x05749e6f1aafc2841f732f63edc2f1801c9452e5

### Payment Action

Purchase NFT from Collection

### Payment Problem

I made a purchase and did not receive an NFT nor a refund.

### Wallet Type

FireFly

### Wallet Version

1.6.5

### Payment Sent to Address

iota1qr2w65528nntput75n2kkgzd9lz0sdtpryu8tqtz6zpq4szqsk7x5tn6uk9

### Amount Sent

1M

[2022-08-05 04:28] baylander commented on #820
Think i recieved the tokens. It's not visible in transaction tab, but when you substracte my purchases i did on SOON-Tokens from overall amount, the result is actually the airdoped token value. Therefor the ticket can be closed.

[2022-08-05 09:56] CaptnVegas opened #824 "Metamask cannot be connected"
**Describe the bug**
Initially I tried to make a change to a NFT that I currently have for sale. However only the spinny rotating orange thing comes up on Sonnaverse and metamask never opened to sign anything. This only occurs on my brave browser. I switched to firefox and all works fine there. In an attempt to fix it I disconnected MM from Sonnaverse in my brave browser. Now I cannot connect MM a

[2022-08-05 16:51] #820 closed

[2022-08-05 16:52] adamunchained commented on #818
thank you! This still very unfinished and it'll be improved.

[2022-08-05 16:52] #818 closed

[2022-08-05 16:55] adamunchained commented on #793
Let's make sure on complete page we calculate final price based on the original price not the price that's coming in transaction record (that price is already discounted).

[2022-08-05 16:56] adamunchained commented on #824
Do you use any extensions? Did you try to disable them?

[2022-08-05 17:00] adamunchained commented on #794
@humaint - as part of the upcoming release we no longer support "transferring NFTs". They can just do that on Shimmer by sending another member the NFT directly.

I want to slightly change the feature below:
<img width="736" alt="Screen Shot 2022-08-05 at 9 58 50 AM" src="https://user-images.githubusercontent.com/130610/183125535-c7ac1e14-ac98-4624-b6e8-a6b41dbae385.png">

to instead allowing user

[2022-08-05 17:03] adamunchained commented on #816
https://discord.com/channels/892481940953915433/917498561040625716/1005159064025710675

[2022-08-06 05:46] TomRana opened #825 "[TLP]:"
### Email

ranatom@gmail.com

### Company Name

bikeguide.tirol

### Your Position

Founder / Co-Founder

### Name

Thomas Holaus

### Have you already done a public sale?

No

### Files and other information

_No response_

[2022-08-06 08:22] CaptnVegas commented on #824
Hi Adam,
I do have 3 additional extensions. Disabling however did not help.
However I just found a resolution. First I tried to delete only cache + images and the cookies of soonaverse which did not help.
Deleting the **complete** browser history / cache images and cookies did the trick. After deleting everything (basicly resetting the whole browser) MM is now popping up again.
![image](https://us

[2022-08-06 08:22] #824 closed

[2022-08-06 16:45] mexaverso commented on #735
Hi. Take a look at the Terms & Conditions of Mexitoken if you want. They will maybe be useful. The thought is that every one of us operates within a lawful jurisdiction and that these tokens will be used in the context of DAOs which consider collective decisions. ¡Regards!

[2022-08-09 08:01] humaint opened #826 "new wallet verification UI responsive"
https://www.figma.com/file/7ER3oGXPRXHCEoUGuUfSLl/Responsive?node-id=3369%3A23623

[2022-08-10 04:34] humaint commented on #799
![SCR-20220810-k72.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/e2dbb4c9-825c-4ec8-8e58-45b84840ce64)

buy / trade buttons should not be visible when browsing my tokens on mobile, see design
https://www.figma.com/file/7ER3oGXPRXHCEoUGuUfSLl/Responsive?node-id=3351%3A23269

[2022-08-15 07:09] humaint commented on #794
@adamunchained transferring NFTs has been removed already right?

[2022-08-15 15:52] adamunchained commented on #794
Not yet, I’ll be removed once Shimmer migration is complete for NFT. Although I would like to keep it for above.

[2022-08-15 20:05] shonuffy commented on #819
Your badge has been approved. Please notify me here that you have purchased the NFT and I will verify and send your information to our KYC vendor.

[2022-08-15 20:07] shonuffy commented on #825
Hello Thomas. Have you applied for the KYC applicant award? I need you to have this badge so you can buy the KYC NFT. https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/participants

[2022-08-15 21:46] SeanTMartin opened #828 "NFTs mislabeled as 'Available' when not for sale and showing incorrect price."
Some NFTs aren't available, but display on the marketplace page as 'Available'. NFTs that are affected by this bug also have their prices show up incorrectly on the marketplace page and are filterable by the incorrect price. Example:

![image](https://user-images.githubusercontent.com/38050901/184723448-eb17f3fb-ab54-4102-bf2f-9c7abf8d3008.png)
![image](https://user-images.githubusercontent.com/38

[2022-08-17 04:42] adamunchained commented on #683
Proposals will be moving on chain.

[2022-08-17 04:42] #683 closed

[2022-08-17 04:43] adamunchained commented on #704
This has been fixed in upcoming version. We no longer use Mi/Gi units.

[2022-08-17 04:43] #704 closed

[2022-08-17 05:26] adamunchained commented on #778
This will be done part of the https://github.com/soonaverse/soonaverse/issues/1275

[2022-08-17 05:26] #778 closed

[2022-08-17 05:29] adamunchained commented on #779
Above has been massively improved due Shimmer and it's much less concern.

[2022-08-17 05:29] #779 closed

[2022-08-17 05:30] #713 closed

[2022-08-17 05:32] #756 closed

[2022-08-17 05:32] adamunchained commented on #389
stale and this is not planned atm.

[2022-08-17 05:32] #389 closed

[2022-08-17 05:32] #260 closed

[2022-08-17 05:33] adamunchained commented on #262
voting will be refactored and fixed with Shimmer integration.

[2022-08-17 05:33] #262 closed

[2022-08-17 05:34] #468 closed

[2022-08-17 05:35] adamunchained commented on #678
Proposals will be reworked with Shimmer integration.

[2022-08-17 05:35] #678 closed

[2022-08-17 05:36] adamunchained commented on #723
Proposals will be reworked with Shimmer.

[2022-08-17 05:36] #723 closed

[2022-08-19 16:54] iotahouse opened #829 "[TLP]:"
### Email

iotahouse0@gmail.com

### Company Name

IOTA House

### Your Position

CEO

### Name

IOTA House

### Have you already done a public sale?

No

### Files and other information

_No response_

[2022-08-20 17:01] mookum93 opened #830 "[TLP]: Talisman"
### Email

mookum93@gmail.com

### Company Name

Talisman

### Your Position

Founder / Co-Founder

### Name

Yanni Jacobs

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-08-21 16:27] iotahouse commented on #829
Dear

Can you require/accept us the kyc badge to buy it afterwards ? :)

We submitted the token creation  and would like to launch as soon as possible hopefully. :)

Kind regards
IOTA House

[2022-08-21 17:01] adamunchained commented on #829
KYC badge must happen prior the token sale. It can be very quick tbh. You still got plenty of time.

@shonuffy fyi

[2022-08-21 20:45] adamunchained commented on #821
@TangleAccountant - can you check if this person didn't get airdrop but should have?

[2022-08-21 20:52] adamunchained commented on #823
There was a bug. This should be resolved in upcoming release.

I've manually refunded you 1Mi from our test wallet: https://explorer.iota.org/mainnet/message/2fe80c8ec336181cddebd29e3a5463729dd40896a3ae347367f36765cce80488

[2022-08-21 20:52] #823 closed

[2022-08-21 21:14] shonuffy commented on #829
Did you request the applicant award using IOTAHOUSE? I'm not seeing your request.

[2022-08-21 21:17] shonuffy commented on #830
Thank you. Are you applicant @yammi on the Soonaverse? Not seeing a "yanni" or your project name in any of the applications.

[2022-08-22 00:27] iotahouse commented on #829
I did that with the first "tlp kyc" but now it should be okay since i did the kyc applicant award.

you can confirm if you received now

Thanks

[2022-08-22 00:55] shonuffy commented on #829
Confirmed and approved, please purchase the KYC NFT and we will forward your information to our vendor.

[2022-08-22 08:08] 2g4y1 opened #831 "#WEN Token Chart time and wrong balance"
**Describe the bug**
Tradingview on wen.soonaverse doesnt refresh my balance after i offered some tokens for sale, balance says still 100.000 Mario token.
Second thing, the timeragne on the token chart with one minute should be replaced with 1 Month instead, one minute doesnt make much sense.

**To Reproduce**
Steps to reproduce the behavior:
Check here
Offer some mario for sale, balance stays 100

[2022-08-22 08:23] antonionardella opened #832 "#WEN Zero in fields is not a placeholder"
**Describe the bug**
The number zero (0) in the amount fields to buy or sell tokens is not an [HTML placeholder](https://www.w3schools.com/TAGS/tryit.asp?filename=tryhtml5_input_placeholder) but actually in the field.
![image](https://user-images.githubusercontent.com/7383572/185873487-55bdc187-ffaf-4667-8502-d5b66576c944.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the trading

[2022-08-22 08:34] antonionardella opened #835 "#WEN input fields not checked, error comes later"
**Describe the bug**
The amount field allows other characters besides numbers (and comma/dot) and the error message is displayed only once the transaction is being signed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the trading page
2. Insert amount with any character
3. Confirm the transaction
4. Sign the transaction
5. Error is visible

**Expected behavior**
The input field should

[2022-08-22 08:39] antonionardella opened #836 "#WEN Order total min value is wrong, although 24h VWAP is selected"
**Describe the bug**
Error message about total value is shown after signing the transaction although the `24h VWAP` proposed sell price is selected

**To Reproduce**
Steps to reproduce the behavior:
1. Go to token trading
3. Try to sell
4. Select 24h VWAP limit price
5. Set 1 Mario token amount
6. Review
7. Sign
8. Error message is shown

**Expected behavior**
The system should automatically selec

[2022-08-22 08:41] Opensailor6927 opened #837 "#WEN token $MARIO"
Unable trading $MARIO

[2022-08-22 08:41] Opensailor6927 commented on #837
I have been able to claim the $MARIO token, so far everything is perfect, but I cannot trade it. There is no click to do it
![Screenshot_20220822-100623_MetaMask](https://user-images.githubusercontent.com/111735894/185878472-9baf559c-2dce-4f73-984b-26ff7f05339b.jpg)
![Screenshot_20220822-102628_MetaMask](https://user-images.githubusercontent.com/111735894/185878505-7653f7b3-8ba6-40e8-8f69-42a5f920

[2022-08-22 08:45] csxiong opened #838 "#WEN Default price option for token trading"
**Describe the bug**
All the exchanges I have tried use `Limit Price` as the default price option instead of `Market Price`, which can easily cause losses due to user misuse. Please change the default price option to `Limit Price` to match the common user habits.

[2022-08-22 08:53] antonionardella opened #839 "#WEN Buy with market price, error after signing"
**Describe the bug**
Error message about total min value is shown after signing the transaction although the `market price` proposed buy price is selected

**To Reproduce**
Steps to reproduce the behavior:
1. Go to token trading
3. Try to buy
4. Select market price
5. Set 012 Mario token amount
6. Review
7. Sign
8. Error message is shown

**Expected behavior**
The system should automatically selec

[2022-08-22 08:55] csxiong opened #840 "#WEN The order of the Date column in the My trading module"
Currently in the `MyTrading` module, the `Date` column is placed between `Price` and `Amount`, which doesn't seem like to be very appropriate when users are generally used to having the 3 number columns calculated to check the results. Please consider placing the Date column in front of Price.

[2022-08-22 08:56] 2g4y1 opened #841 "#WEN Orderbook shows only 9 open Orders"
**Describe the bug**
Orderbook shows only the cheapest 9 open orders.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['wen.soonaverse.com'](https://wen.soonaverse.com/token/0x022e665ad6105959cbe9696d604761c8d2d3cb9d/trade)
2. Orderbook shows only the cheapest 9 open orders.

**Expected behavior**
show all orders, make scrollable, more pages, or something like this

**Screenshots**
![i

[2022-08-22 09:04] 2g4y1 opened #842 "#WEN there should be a link from tokenoverview to tradingpage of the token"
**Describe the bug**
There should be a link from the tokenoverview to the tradingpage/tradingpairs on the token overwiew page.
When i click on a token in my profile i land on the token overview, but there is now way to the tradingview without clicking on tokens on the left side and then on trade.

**Screenshots**
![image](https://user-images.githubusercontent.com/18002532/185883079-b95aa4c8-fc85-4

[2022-08-22 09:19] Opensailor6927 commented on #837
It's fixed, I had to verify my wallet address

[2022-08-22 10:51] JONWOLF3 opened #843 "#WEN not arrive transacción."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-08-22 11:06] iotahouse commented on #829
I purchased the KYC NFT. Can you forward our information to the vendor today so i can send the vendor the needed information.

Thank you
IOTA House

[2022-08-22 12:28] 2g4y1 opened #844 "#WEN Weird format for time/date in tradinghistory"
**Describe the bug**
Weird data format in tradinghistory for trades older than 1 day

![image](https://user-images.githubusercontent.com/18002532/185921123-fbd30dec-d937-46aa-9152-a78312ac849b.png)

[2022-08-22 13:58] adamunchained commented on #844
We've a limited space so we show "-1d" = -1 day.

@Gundavri make sure "d" is translatable and show it as a full word. "day", "week", "month"

[2022-08-22 13:58] adamunchained commented on #844
@humaint - we have to show full word so it works in other language. Let me know if you propose different approach.

[2022-08-22 14:14] adamunchained commented on #837
Did you get any reasonable alert? or why did you get confused?

[2022-08-22 14:17] adamunchained commented on #838
Interesting. @humaint was agreed with you @csxiong and I was strongly against it.

I've argued that we should provide easier option first before the more complex one.

@TangleAccountant - what do you think?

[2022-08-22 14:19] adamunchained commented on #840
Yeah I agree. @humaint shouldn't we make sure to make date first column on each tab?

[2022-08-22 14:23] adamunchained commented on #841
This is desired behaviour. We don't expect to make that list scrollable atm. You can round it up to higher decimal and it'll give you different overview.

[2022-08-22 14:23] #841 closed

[2022-08-22 15:48] adamunchained commented on #835
Only allow numbers in inputs on SELL/BUY

[2022-08-22 15:49] #843 closed

[2022-08-22 15:50] adamunchained commented on #839
@humaint - there is a minimum of 1 MIOTA / RMS on the order. We need to implement validation on the front-end for this.

[2022-08-22 16:56] adamunchained commented on #836
Will be solved part #839

[2022-08-22 16:56] #836 closed

[2022-08-22 16:58] adamunchained commented on #831
@gundavri Balance should considered amount locked for sale. See distribution record. Please remove.

please remove “1m”, it should be just 24h and 7d

[2022-08-22 19:17] shonuffy commented on #829
Please be advised that we are not approving token listings until after the launch of Shimmer

[2022-08-22 21:16] 2g4y1 opened #845 "#WEN Tokenoverview"
**Describe the bug**
In the tokenoverview their is a bug by the displaying of claimable tokens.
I bought some vader and mnemo2 tokens, they landed in my firefly wallet, but the token page still says i can claim them.

**Expected behavior**
hide tokens i cant claim, because i didnt recived them by airdrop

**Screenshots**
![image](https://user-images.githubusercontent.com/18002532/186020612-70c9241

[2022-08-22 21:26] adamunchained commented on #845
fix will be released tonight

[2022-08-22 21:29] celarium3945 opened #846 "#WEN too many zero"
**Describe the bug**
A clear and concise description of what the bug is.
the display is not very readable due to numbers with 6 zero after the "."
3 zero is by far sufficient
history is not fully readable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
go to token, click on Mario

**Expected behavior**
A clear and concise d

[2022-08-22 22:41] TangleAccountant commented on #838
Limit purchasing is definitely the default for the reason mentioned above. My thought was that our most common feedback was that our bid/ask/limit ordering verbiage and design was too "complicated" and since we'll be competing with simple swaps on DEXs that a default market buy made more sense. But maybe we need to lean into the fact that our exchange is capable of more complex orders. I'm okay wi

[2022-08-22 22:52] adamunchained commented on #838
ok, no worries. Limit price it is. So what about if we set the default price to 24h average price instead of keeping it zero?

re: market buy - yeah we might need to tweak it once @boldizsar-unchained is back.

[2022-08-22 23:35] humaint commented on #839
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/WebApp?node-id=5819%3A51312

error state added

[2022-08-22 23:42] humaint commented on #842
there is already a condition to show Trade token button on the token overview page.

@Gundavri pls update the logic so it will show button the trade button to all available tokens, like this one https://wen.soonaverse.com/token/0x87cb9c0de98223de944ff60c558a9641b8d8d945/overview

[2022-08-22 23:43] humaint commented on #832
i agree
Expected behavior
The 0 should be an HTML placeholder
Once clicked in the field the zero should not be part of the input

[2022-08-22 23:54] adamunchained commented on #832
yeah, as per #838 I think it might actually make sense to default 24h avg. price and make limit price default.

[2022-08-22 23:55] adamunchained commented on #846
@humaint - maybe on mobile we reduce to no zeros? what do you think?

[2022-08-23 00:00] humaint commented on #846
I don't like showing "different numbers" on mobile and desktop. I would keep as less zeros as possible everywhere if possible, but not sure what are the limitations.

[2022-08-23 00:03] humaint commented on #840
![SCR-20220823-dxf.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/88c60101-e0e4-4116-933f-64c6c9ed0c10)

@Gundavri let's move the columns as described on the pic (other my trading tabs will be the same except not showing type columns)

[2022-08-23 00:07] humaint commented on #832
i would still keep 0 placeholder, you have the quick options for predefined states

[2022-08-23 00:31] adamunchained commented on #838
re: market buys/sells it'll be done in separate issue: https://github.com/soonaverse/soonaverse/issues/1329

[2022-08-23 00:34] adamunchained commented on #846
yeah, I do agree it should be consistent. Although this is very tricky as it might be very different per each token. I guess we will have to leave this one parked for now and see how it plays out.

[2022-08-23 00:34] adamunchained commented on #832
Fair enough. Do we want to default to limit price then?

[2022-08-23 04:30] adamunchained commented on #832
changed to place holder, #839 will fix validations.

[2022-08-23 04:32] adamunchained commented on #838
changed to defaulting to limit price.

[2022-08-23 04:45] adamunchained commented on #844
Fixed and changed to relative time.

[2022-08-23 04:46] adamunchained commented on #831
I've removed the 1m in the chart.

[2022-08-23 07:17] iotahouse commented on #829
Allright thanks, can you then make sure we're listed as soon as possible after the launch of Shimmer ?  :)
Btw is there a date planned for the Shimmer launch or ? :)

Thank you
IOTA House

[2022-08-23 10:24] 2g4y1 opened #847 "#WEN Sending wrong token doenst refund the token"
**Describe the bug**

Hi guys, experimented around a bit and found out when i try to sell  x amount Mario token and sending x Peach Token (selfminted ff) i dont get the wrong sent token refunded

Payment: https://explorer.shimmer.network/testnet/block/0x040554f7afa69bd65ba42c2059cdce2a6b36ac8d9e30451835d8fc41fd26b29a
Refund: https://explorer.shimmer.network/testnet/block/payment-in-progress-166125

[2022-08-23 11:55] Gundavri commented on #842
@humaint I don't see any trade buttons in the link you provided. We do have Trade button and the logic is that it is shown after the cooldown has ended. What do you want me to change in that?

[2022-08-23 15:06] adamunchained commented on #847
@boldizsar-unchained - hornet responds "{"route":"blocks","httpStatus":400,"code":"400"}"

It seems 400 error code is responded for block id 0x61e5e41e64646c5858e1794627252b728eeb8e1a

Error on the console
[code]

[2022-08-23 15:44] adamunchained commented on #842
@Gundavri - when something is pending with @humaint or me, make sure to re-assign it to us.

[2022-08-23 16:03] LowMcCarey opened #850 "[TLP]:"
### Email

lowmccarey@web.de

### Company Name

Rush Token Support

### Your Position

CEO

### Name

LowMcCarey

### Have you already done a public sale?

Yes

### Files and other information

[code]

[2022-08-23 17:17] celarium3945 commented on #846
Please also take care of the "historique" windows that is not fully readable (can't see the right part)

[2022-08-23 21:01] GerritoMuc opened #851 "#WEN: Firefly Connect - Comma Separator Wrongly Submitted"
**Issue:**
- While Claiming the Mario Token Airdrop I encountered reproducible an issue in transferring the right token amount to claim the airdrop.
- This seems to be caused as a "." as separator is transferred to Firefly instead of the ","
- This leads to the wrong amount to be sent (e.g. 992 SMR instead of 0,0992 SMR) and ultimately rejection
![image](https://user-images.githubusercontent.com/9

[2022-08-23 21:08] GerritoMuc opened #852 "#WEN: 2 Token Claims inside of the 5 Minute Range Fail"
**Bug**
Trying to claim another token, while the 4 minutes timer is still running for an older claim fails.

**Steps to reproduce the behavior:**
1. Go to Tokens in Soonaverse Profile
2. Claim First Token Airdrop
3. After finalization try to Claim Second Token Airdrop available
4. Transaction Window is closed with message "Claim Successful" <- which is of the First Token Claim action

**Expected b

[2022-08-24 13:09] TangleAccountant commented on #821
This person got their airdrops. It looks like they've claimed a total of 820.41 SOON tokens in airdrops:

![image](https://user-images.githubusercontent.com/78708402/186426161-2c18fc66-b341-4777-83b3-f01c155e9058.png)

They also paid 1,482 MIOTA during the launchpad event to acquire 1,950 SOON tokens:

![image](https://user-images.githubusercontent.com/78708402/186426468-737ad4b6-b06d-4267-b9ac-38

[2022-08-24 19:03] GerritoMuc opened #853 "#WEN: No Transaction Amount Control in Placing Sell Order"
**Issue**
While Placing a Sell Order there is no final check on the Token Amount actually sent. This leads to unwanted bid amounts placed if a user types faulty values by mistake inside of Firefly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Token Trading
2. Place a Sale Order with 100.000 Mario Tokens
3. Confirm MM transaction
4. Type 100.010 Mario Tokens to be sent in Firefly Wal

[2022-08-24 20:20] GerritoMuc opened #854 "#WEN: Sell Order - Fees Appear on the Seller Side FF as Unclaimed Transactions"
**Issue**
Upon successful selling of tokens via the Token Trading Pad the Fees (0,25% & 2,25%) are deducted . These fee transaction are shown in addition as "unclaimed" transactions in Firefly. This is misleading for the user as it seems as if Fees are deducted twice (once from the selling price itself and additionally via the Firefly Wallet).

**To Reproduce**
Steps to reproduce the behavior:
1.

[2022-08-24 20:40] GerritoMuc opened #855 "#WEN: Ending Comma in Buy Order Lead to Invalid Pay Amount"
**Issue**
2 Issues appear when using the "." separator in the amount field in certain language combinations, the price is transmitted with a "." separator in FF which leads to invalid transaction ultimately.

**To Reproduce**
Steps to reproduce the behavior:
1. Firefly in German Profile
2. Soonaverse in English Profile
3. Use a "." separator in the amount field (e.g. purchase 5.000 -> should be 50

[2022-08-24 22:29] michaelqtodd commented on #804
Still no verification is it normal to take over 6 weeks? Happy to wait.
Regards
Michael

Connect with me anywhere online at about.me/michaelqtodd anytime please. I
will do my best to connect back.

On Fri, Jul 8, 2022 at 10:51 AM shonuffy ***@***.***> wrote:

[2022-08-24 22:38] shonuffy commented on #804
What are you specifically referencing when you say verification? Are you talking about the Driftwood?

[2022-08-24 22:39] shonuffy commented on #804
We are currently holding tokens from listing on the service until the Shimmer network goes live.

[2022-08-24 22:44] michaelqtodd commented on #804
Yes Driftwood. I have never had a reply from them. Thanks for your reply. I
will wait for Shimmer.

On Thu, Aug 25, 2022 at 8:39 AM shonuffy ***@***.***> wrote:

[2022-08-24 22:46] shonuffy commented on #804
They were sent your information July 10th. I can follow up with them.

[2022-08-24 23:39] shonuffy commented on #850
Please apply to the KYC applicant award, so you can gain access to the TLP KYC NFT, which you will have to purchase. Once that is done I will forward your information to our KYC vendor who will contact you directly.

[2022-08-25 01:09] michaelqtodd commented on #804
Thanks I messaged them today and they approved me straight away. They said
they had overlooked sending me the approval message. All good.

On Thu, Aug 25, 2022 at 8:46 AM shonuffy ***@***.***> wrote:

[2022-08-25 05:08] adamunchained commented on #853
This actually desired behaviour (it's allowed to support different amount). This will be avoided once deep links are enabled for native token transfer.

[2022-08-25 05:08] #853 closed

[2022-08-25 05:12] adamunchained commented on #854
Once Soonaverse Vault/Exchange Vault claims these fees, seller gets refunded with storage deposit. Hence it shows as unclaimed although I think "Firefly" is not showing it very clearly.

-1.8 is not being deducted from seller. Firefly is just saying that 1.8 is pending return of a storage deposit.

[2022-08-25 05:12] #854 closed

[2022-08-25 15:00] #712 closed

[2022-08-25 15:05] adamunchained commented on #584
You know when NFT record is locked when "lockedBy" is not NULL

[2022-08-25 15:07] adamunchained commented on #663
duplicate of https://github.com/soonaverse/soonaverse-dao/issues/793

[2022-08-25 15:07] #663 closed

[2022-08-25 15:24] #653 closed

[2022-08-25 15:36] #588 closed

[2022-08-26 00:15] #837 closed

[2022-08-26 00:16] adamunchained commented on #809
This has been fixed in wen.

[2022-08-26 00:17] adamunchained commented on #816
this is fixed in upcoming release, see wen.soonaverse.com

[2022-08-26 00:17] #816 closed

[2022-08-26 00:18] #806 closed

[2022-08-26 00:38] adamunchained commented on #633
This must be a simple issue with infinetscroll angular module.

[2022-08-26 08:04] medion62 opened #856 "I think I didnt recieve a Payment for a NFT Transaction"
### Discord Name

medion62#5929

### Soonaverse Profile Id

0xC5D0726785062Cedc4c208F3a095A20611459436

### Payment Action

Sold NFT - Fixed Price

### Payment Problem

Other (Please describe in comments)

### Wallet Type

FireFly

### Wallet Version

1.6.5

### Payment Sent to Address

iota1qrn7jz8pvhtz5am3rerj0f37h7vqa7tqmlmfakvatmaht49y6fpgxtas305

### Amount Sent

699

### Payment Message Id

[2022-08-26 19:30] LowMcCarey commented on #850
I need help again please. Where can I register for the KYC procedure?

[2022-08-26 20:13] adamunchained commented on #633
This is fixed in upcoming release. It works in wen.soonaverse.com

[2022-08-26 20:25] adamunchained commented on #793
Fixed in upcoming release

[2022-08-26 21:24] adamunchained commented on #856
This has been processed, see here: https://thetangle.org/message/e4c9632cfa19e513a4595884feb3ffe8b1734e197a2a019c2680f6c82b9ea836

711.55 Mi was sent to iota1qrn7jz8pvhtz5am3rerj0f37h7vqa7tqmlmfakvatmaht49y6fpgxtas305

[2022-08-26 21:24] #856 closed

[2022-08-26 22:43] shonuffy commented on #850
https://discord.com/channels/892481940953915433/947920161195851797/994886573004959785

[2022-08-27 00:44] iotahouse commented on #829
Do we need to receive something from the vendor and send something or is everything now fine because we haven't received anything ?

kind regards
IOTA House

[2022-08-27 19:38] iotahouse commented on #829
Okay, i am looking forward to get a response and launch as soon as possible our tokens on soonaverse.

IOTA House

[2022-08-28 09:42] LowMcCarey commented on #850
Sorry, but the Discord link isn't working.
Discord says either you don't have access or this channel doesn't exist.

My Discord Name: Low_McCarey#6760

[2022-09-02 16:38] #809 closed

[2022-09-02 16:38] #839 closed

[2022-09-02 16:38] #584 closed

[2022-09-02 16:38] #793 closed

[2022-09-02 16:38] #832 closed

[2022-09-02 16:38] #840 closed

[2022-09-02 16:38] #835 closed

[2022-09-02 16:38] #838 closed

[2022-09-02 16:38] #844 closed

[2022-09-02 16:38] #845 closed

[2022-09-02 16:38] #847 closed

[2022-09-02 16:38] #633 closed

[2022-09-02 16:38] #831 closed

[2022-09-02 16:38] #799 closed

[2022-09-02 16:39] #752 closed

[2022-09-02 16:39] #798 closed

[2022-09-02 16:39] #762 closed

[2022-09-02 16:39] #772 closed

[2022-09-02 16:39] #800 closed

[2022-09-02 16:39] #631 closed

[2022-09-02 16:39] #660 closed

[2022-09-02 16:39] #750 closed

[2022-09-02 16:39] #475 closed

[2022-09-02 16:39] #652 closed

[2022-09-02 16:39] #657 closed

[2022-09-02 16:39] #680 closed

[2022-09-02 16:39] #514 closed

[2022-09-02 16:39] #732 closed

[2022-09-02 16:39] #733 closed

[2022-09-02 16:39] #744 closed

[2022-09-03 16:17] adamunchained opened #857 "Invalid calculation of the first day/hour on trading graph"
<img width="622" alt="Screen Shot 2022-09-03 at 9 16 59 AM" src="https://user-images.githubusercontent.com/130610/188279344-4af25475-9119-45e2-a181-2cfdb104fc40.png">

[2022-09-03 16:18] adamunchained commented on #857
this was fixed and will be published as hotfix within next 15 minutes

[2022-09-03 16:18] #857 closed

[2022-09-03 20:07] shonuffy commented on #850
Applicant award - https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/overview

KYC NFT - https://soonaverse.com/collection/0x779f686073adfd2c2962e1d4d749f13e179f8e0b

[2022-09-03 23:13] csxiong opened #858 "Inconsistent time zones in the token trading page"
**Describe the bug**
In the token trading screen, the time in the user's time zone is shown on the right side of the trading history header, but the time in the list below and in the My trading list is shown in another time zone. This causes difficulties for users to check their records.

**Expected behavior**
Please set the times displayed on this page all according to the user's time zone.

[2022-09-03 23:33] csxiong opened #859 "Lack of quick jump to another token on the token trading page"
**Describe the bug**
Now on the token trading page, if you want to jump to another token's trading page, you need to go back to the token's list first, and then click on it to enter its trading page, which is a bit tedious to operate.

**Expected behavior**
Please consider the following methods for optimization.
1. Replace the text component of the token with a drop-down list component. Toggle the

[2022-09-04 00:09] adamunchained commented on #859
Those are great ideas. @humaint / @Filip356258 can you investigate if improvements are needed and let's schedule within next sprint....

[2022-09-04 00:09] adamunchained commented on #858
This is weird. I don't have this issue. Can you please provide screenshot or video?

[2022-09-04 00:30] csxiong commented on #858
![image](https://user-images.githubusercontent.com/86828398/188291579-99847e0b-49af-4a0f-9d09-5a88e58186e4.png)
From here, we can see that the time on the right side is the same as my local time.

But....
![image](https://user-images.githubusercontent.com/86828398/188291604-ea975442-eb78-4db5-9283-5f9cb6f29c16.png)
![image](https://user-images.githubusercontent.com/86828398/188291612-37dfc46a-dfeb

[2022-09-04 01:00] adamunchained commented on #858
Thanks @csxiong….Yeah it should be all in user’s browser timezone. Let me investigate this.

[2022-09-04 10:05] Travetown opened #860 "Search no longer works in some areas"
When I go to the NFT overview in my profile and enter a name, the display hangs. (screenshot #1)
Likewise, the search within a collection is not executed. (screenshot #2)

<img width="1163" alt="Bildschirmfoto 2022-09-04 um 12 05 00" src="https://user-images.githubusercontent.com/66588710/188308135-533dcfcc-3f6e-43b3-89d8-747c2d3e3cdc.png">

<img width="1091" alt="Bildschirmfoto 2022-09-04 um 12 0

[2022-09-04 15:25] adamunchained commented on #860
This is due new indexing. Let’s change this screen to query Algolia instead.

[2022-09-04 15:33] adamunchained commented on #746
@gundavri - please change to use Algolia search instead and remove full list “read” on members.

[2022-09-04 15:42] adamunchained commented on #855
We’ve investigated this. How is this our issue? It seems Firefly is not correctly translating 5.5 value. Firefly should work 5.5.

[2022-09-04 15:42] #855 closed

[2022-09-04 15:44] adamunchained commented on #851
I’m sorry but this is clearly a Firefly issue. It should support both “,” and “.” Within the url. Maybe we can pass parameter within the URL to indicate language or Firefly disallow decimals within deep link URL.

[2022-09-04 15:44] #851 closed

[2022-09-04 21:49] adamunchained commented on #698
this should have been fixed with new release

[2022-09-04 21:49] #698 closed

[2022-09-04 21:49] adamunchained commented on #627
this has been resolved in new release as we no longer show units and always MIOTAs with 6 decimals.

[2022-09-04 21:49] #627 closed

[2022-09-04 21:50] adamunchained commented on #539
This has been fixed in new release.

[2022-09-04 21:50] #539 closed

[2022-09-04 21:51] adamunchained commented on #534
this part of #531

[2022-09-04 21:51] #534 closed

[2022-09-04 21:58] #313 closed

[2022-09-04 21:58] adamunchained commented on #386
We are moving away from XP. Closing as irrelevant.

[2022-09-04 21:58] #386 closed

[2022-09-05 00:17] humaint commented on #859
I agree, thanks csxiong. I will get designs for 1 and 2 ready. 3 is assigned already as a bug.

[2022-09-05 00:20] #842 closed

[2022-09-05 01:28] adamunchained commented on #858
I can't reproduce this, for me, its always all in my timezone. @humaint are you having this issue?

[2022-09-05 02:07] #821 closed

[2022-09-05 02:07] #528 closed

[2022-09-05 05:22] humaint commented on #858
@adamunchained it's definitely a bug, see my screen![SCR-20220905-l84.png](https://images.zenhubusercontent.com/621c34bbe05cf522ccfe8330/2e8c5729-ed27-4110-9f05-864bb23d6928)

MY USE CASE: current time does not use the local time-format and time in the Trade history does not have AM/PM

[2022-09-05 05:47] #721 closed

[2022-09-05 05:48] #727 closed

[2022-09-05 05:48] #729 closed

[2022-09-05 05:49] #741 closed

[2022-09-05 05:50] #743 closed

[2022-09-05 05:50] #757 closed

[2022-09-05 05:51] #776 closed

[2022-09-05 05:51] #788 closed

[2022-09-05 05:52] #790 closed

[2022-09-05 05:52] #791 closed

[2022-09-05 05:53] #795 closed

[2022-09-05 05:53] #803 closed

[2022-09-05 05:54] shonuffy commented on #808
@DanielTrauth Did you want me to keep this request open?

[2022-09-05 05:54] #813 closed

[2022-09-05 05:55] shonuffy commented on #814
@TFTIzaac Do you want me to keep this request open?

[2022-09-05 05:56] shonuffy commented on #819
@calosan24 Do you want me to keep this request open?

[2022-09-05 05:56] shonuffy commented on #825
Please advise if this is something you still want to pursue

[2022-09-05 05:57] shonuffy commented on #830
@mookum93 Please advise if this is something you still want to pursue

[2022-09-05 05:57] shonuffy commented on #850
@LowMcCarey Please advise if this is something you want to continue to pursue.

[2022-09-05 06:31] DanielTrauth commented on #808
Hi @shonuffy,

basically yes. our investor is hesitant. we will probably need some more time and then start again. close it! Tahnks.

[2022-09-05 06:35] shonuffy commented on #808
Thank you @DanielTrauth. You are obviously always welcome in the Soonaverse. We would love to support senseering in any way we can. Take care.

[2022-09-05 06:35] #808 closed

[2022-09-05 06:47] adamunchained commented on #858
@gundavri ~ pls check we use angular date pipeline correctly everywhere

[2022-09-05 06:50] adamunchained commented on #852
Claim token pop-up is not differentiating progress between different claims. I suspect this is due how we store claim order id in the cookie. Please investigate and fix.

[2022-09-05 09:02] calosan24 commented on #819
Hi, How can I prove that I have bought the NFT?

[2022-09-05 14:40] LowMcCarey commented on #850
Yes, but I don't get any IOTAs on my IOTA EVM wallet to buy the launch pad token.

[2022-09-05 17:52] mookum93 commented on #830
Hello … I want to release a nft project . But i think I tried it wrong .
The project isn’t released as yammi ore on any other name.

shonuffy ***@***.***> schrieb am Mo. 5. Sept. 2022 um 07:57:

[2022-09-05 21:36] shonuffy commented on #850
MM is just for authentication, you use Firefly to but the NFT

[2022-09-05 21:38] shonuffy commented on #830
Please go to the discord support to address issues around NFTs. I will be closing this issue. Thank you.

[2022-09-05 21:38] #830 closed

[2022-09-06 00:09] adamunchained commented on #701
stale issue, closing. If it's still happening feel free to re-open.

[2022-09-06 00:09] #701 closed

[2022-09-06 00:11] adamunchained commented on #369
stale issue, closing

[2022-09-06 00:11] #369 closed

[2022-09-06 00:12] adamunchained commented on #233
stale issue, it should be kept under discussion (idea/future enhancement) until we start to work on it.

[2022-09-06 00:12] #233 closed

[2022-09-06 00:12] adamunchained commented on #336
stale issue, hasn't been raised again. We'll be re-doing this as part of Shimmer integration anyways.

[2022-09-06 00:12] #336 closed

[2022-09-06 20:52] LowMcCarey commented on #850
I don't get an option for the Firefly. It just aborts when trying to buy and says there is not enough in the wallet.

[2022-09-07 08:38] Tombaaa opened #862 "[Payment Issue]: SOON token claiming, sent 1.34mi to address, but tokens were not claimed, nor 1.34mi refunded"
### Discord Name

Tombaa#8643

### Soonaverse Profile Id

0xA5F942A9CB17217cf6603166F5eF9228A7EC090E

### Payment Action

Other (Please describe in comments)

### Payment Problem

Other (Please describe in comments)

### Wallet Type

FireFly

### Wallet Version

1.6.4

### Payment Sent to Address

iota1qpcqyw4zwx090r9pjxvej7e6qf82e9a5cp8t7scgf2ujwp6gw6kmkkwmdh5

### Amount Sent

1.34Mi

### Paymen

[2022-09-07 20:47] adamunchained opened #864 "Min bid not showing in modal"
![image](https://user-images.githubusercontent.com/130610/188975109-a4911349-0a32-49ff-bbe2-610499f37a78.jpeg)

[2022-09-08 13:58] siouxWaits opened #865 "Discord link"
**Describe the bug**
If I click the discord link in my Soonaverse profile, it doesn't link me to my discord account.
If I hover over the link, it shows "siouxWaits#6700", although I changed that name in Discord and Soonaverse to
"siouxWaits | GodHatesNFTees#6700" (with copy / paste)
Before, I changed my Soonaverse name a few times and also my Discord account name one time, don't know if that matte

[2022-09-09 09:15] Tombaaa commented on #862
I now claimed them again, for 1.32Mi, worked this time.
But still would like to get back my 1.34 Mi I paid in the first attempt.

[2022-09-09 13:20] Gundavri commented on #852
@adamunchained I think you've already fixed this

[2022-09-09 13:53] adamunchained commented on #852
@Gundavri - did you test the claim? Did the modal worked?

This is current bug in production so please make sure to test above before we close this.

[2022-09-09 16:23] adamunchained commented on #862
You claimed SOON tokens 1520 for 1.34 M successfully. Modal might not show the receiving of transactions correctly but you've receive the token allocation on 26th of August after your claim: https://thetangle.org/message/9f480f716fd8c1a12cf24a77390f53be3f700e96b17e94f568da86b8e8e8cc4f

1.32 Mi claim must have been for another airdrop.

[2022-09-09 16:23] #862 closed

[2022-09-10 12:13] CptBananu opened #866 "Partnered/connected spaces not displayed anymore"
**Describe the bug**
Seemingly the connections between spaces is not visible anymore (where u can see which spaces XP are recognized in another space). On september 3rd I was still able to see those connections since I prepared a list of connected/partnered spaces for the IotaPunks-Discord.

**To Reproduce**
Steps to reproduce the behavior:
1. Just check any space that has connected spaces. Exampl

[2022-09-10 12:20] tccflash commented on #866
Hi Markus from iotatradingcards.com here. Yeah please bring this feature back with the next version. Thats a absolute important feature for the whole IOTA NFT Community.
Thx 🤙🏻

[2022-09-10 12:35] Peratron commented on #866
We at #IotaPunks have formed many partnerships on Soonaverse. Only unfortunately no one can see this at the moment. Please integrate the feature again. Thanks 🤘

[2022-09-10 13:05] pxdg2 commented on #866
Please fix.

[2022-09-10 15:26] celarium3945 opened #867 "sell order fullfil without following the book order"
**Describe the bug**
 the book order has at least the following ask :  2079 $soon available at 0.551 and 400 $soon available at 0.511.
a 300 $soon transaction was done at 0.500 without touching the previous ask (0.551 and 0.511)
![image](https://user-images.githubusercontent.com/103221824/189489783-41b4e65e-a8a9-459f-baa2-91dab73fb1e0.png)

**To Reproduce**

**Expected behavior**
  the order befor

[2022-09-11 06:46] YennaTech commented on #866
Requesting support on this asap please.. user experience is highly important

[2022-09-12 03:08] adamunchained commented on #722
This is technically very challenging to implement. Individual transaction are independently queried and we would have to apply grouping logic on the client side. We can't apply grouping on the client side as there could be significant amount of transactions. We need to retrieve these transactions in batches hence particular batch might not have all transactions for us to group.

I'll close this fo

[2022-09-12 03:08] #722 closed

[2022-09-12 03:11] adamunchained commented on #867
@boldizsar-unchained - was this fixed with https://github.com/soonaverse/soonaverse/issues/1426 ?

[2022-09-13 03:04] adamunchained commented on #852
fixed

[2022-09-13 07:56] DigiMine22 commented on #866
Please bring this feature back, it is important to see  the partnerships for the users. Thx.

[2022-09-13 14:20] Gundavri commented on #531
@humaint Can you please fix the first link?

[2022-09-13 23:01] humaint commented on #531
it has been a while since designing this one, I've found the badge here
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/WebApp?node-id=3775%3A41342

[2022-09-14 02:46] #865 closed

[2022-09-14 02:47] siouxWaits commented on #865
My own fault, messed up the names !

[2022-09-14 13:55] Gundavri commented on #531
@humaint Currently we don't have this filter implemented
![image](https://user-images.githubusercontent.com/51381939/190173537-406a0e20-30d7-436a-9953-871035566f94.png)

[2022-09-15 00:35] humaint commented on #531
@Gundavri pls just add the badge and logic for NFT cards (similar as we have for other badges)

we will implement filters later

[2022-09-15 06:15] humaint commented on #859
quick option added here
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/WebApp?node-id=5896%3A51957

+ header is rearranged
+ token website link changed to token info link

dropdown here
https://www.figma.com/file/SfW2q5bOtoea2cb5IhQKiu/WebApp?node-id=5898%3A52689

[2022-09-15 06:20] adamunchained commented on #859
@Gundavri - It's important none of the data within modal will not load until it's open.

[2022-09-16 00:03] humaint commented on #859
@Gundavri don't forget about the mobile version
https://www.figma.com/file/7ER3oGXPRXHCEoUGuUfSLl/Responsive?node-id=3577%3A27314

make sure all paddings/margins

[2022-09-16 17:30] TangleAccountant opened #872 "Change Token Pricing Views"
Prices on the main token listings page should be the "Mid" price. And the 24 VWAP on the specific token page should be changed to Current Price (which will be "Mid" as well).

[2022-09-16 22:05] shonuffy commented on #797
I am looping back on this. Safari and mobile can't run the videos.

[2022-09-16 22:21] adamunchained commented on #797
@Gundavri - can you please check this. see src/assets/static-home - It's a statically exported site we got and it was given us broken. Can you try to see if you can fix the video looping issue in Safari so videos run?

[2022-09-16 23:54] centercirclesolutions opened #873 "MARIO GitHub Issue Winners Profile MM Id"
#### Please post your ***Production*** Soonaverse  profile ID as a comment so we can award you your SOON tokens

It will be in the url when you are looking at your profile

<img width="586" alt="image" src="https://user-images.githubusercontent.com/44786846/190831554-c8f5832d-d5c6-48cc-ae8c-025f38cb02aa.png">

[2022-09-17 00:19] csxiong commented on #873
0x407c538955bca332EB1A6db6b282F92114D19B6c
Thanks Fab5.

[2022-09-17 01:22] WILD-BULLET commented on #873
https://soonaverse.com/member/0xff472af25d7cbcf04de59461ddd057e5095f2988

[2022-09-17 03:58] adamunchained commented on #872
Token price change as requested. We received very positive feedback from the community on this change.
<img width="1259" alt="Screen Shot 2022-09-16 at 8 58 11 PM" src="https://user-images.githubusercontent.com/130610/190839665-e16b0341-b8ae-415e-9a1f-05a8d804ffa6.png">

@humaint - FYI

[2022-09-17 04:17] Opensailor6927 commented on #873
https://soonaverse.com/member/0xeff086c66223a846b9038bdf5cbfcee421a89c83

[2022-09-17 06:00] Thousands8813 commented on #873
https://soonaverse.com/member/0x33317f038b1281cbff55380fa66e42913e6e572d

[2022-09-17 08:04] Danlino commented on #873
https://soonaverse.com/member/0x4baf3c144be43089b67ee1c5eaf9582496c33727

[2022-09-17 09:30] BigDom4Reelz commented on #873
Awesome thanks!
0x1e80d5c5a2ff5f0ab83b56028a7073369a6f55bf

[2022-09-17 12:20] BigDom4Reelz opened #874 "Issue trying to add NFT to existing collection - "available from" Error (Not a Limited Edition Collection)"
**Describe the bug**
I'm having an issue creating NFTs for a collection that went active at the end of last month. It's an empty collection but when I go to create the NFT(s), either individual or multiple, I get an error with the "available from" date upon confirming the transaction in MM. It seems the date is locked to the collection active date and there doesn't seem to be an option to change i

[2022-09-17 17:55] GerritoMuc commented on #873
0x60517fae31e8c087bab0e3d68f6e4a7ec0ec90b2
Thank you guys! Give us a ping if we can help again!

[2022-09-18 13:01] fradesi opened #875 "[TLP]:"
### Email

francesco.desantis@theframevision.com

### Company Name

Vision Studio Srl

### Your Position

CEO

### Name

Francesco De Santis

### Have you already done a public sale?

No

### Files and other information

_No response_

[2022-09-18 13:01] #875 closed

[2022-09-18 13:23] fradesi opened #876 "IP / DMCA Request:"
SoonLabs responds to notices alleging copyright infringement that comply with the United States Digital Millennium Copyright Act (the “DMCA”).  If you wish to make a DMCA claim, you must provide the following information in writing in your DMCA notice:

- identify the copyrighted work that you claim has been infringed;
- identify the material claimed to be infringing and where it is located;
- pro

[2022-09-18 13:23] #876 closed

[2022-09-18 13:26] fradesi opened #877 "[TLP]:"
### Email

francesco.desantis@theframevision.com

### Company Name

Vision Studio Srl

### Your Position

CEO

### Name

Francesco De Santis

### Have you already done a public sale?

No

### Files and other information

_No response_

[2022-09-19 03:08] csxiong opened #878 "Some data in the metadata generated by the token trading is suspected to be incorrect."
**Describe the bug**
There are two fields in the metadata generated in the token trading: `owner` and `previousOwner`, which literally means the address of the buyer and seller of this trading, but these two fields are the same in all the metadata generated in the token trading so far. It is possible that this is an get/set error.

**To Reproduce**
check this: https://explorer.iota.org/mainnet/mes

[2022-09-19 04:05] adamunchained commented on #878
@boldizsar-unchained - it looks like previousOwner is set to buyer Id by mistake in Bill Payment. It should be seller uid.

[2022-09-19 22:06] adamunchained commented on #797
@shonuffy

@Gundavri - spent few hours on this today.

The problem is that Safari does not support webm format, but currently it's the only one in the web which supports a transparent background. I tried many other formats but could not achieve the result, there is a black background if I use mp4, mov or something else. I think the best way would be if you could provide mp4 versions with a good ba

[2022-09-20 09:15] labralords commented on #866
We're also affected by this.

[2022-09-20 10:14] PeterPanHH opened #879 "[TLP]:"
### Email

tim.meuler@web.de

### Company Name

German Cities

### Your Position

CEO

### Name

Tim Meuler

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-09-20 13:35] boldizsar-unchained commented on #867
Though so, but know. Fixed here however
https://github.com/soonaverse/soonaverse/pull/1523

[2022-09-20 13:55] adamunchained commented on #867
yeah I thought so

[2022-09-20 14:13] Danlino commented on #873
Where can the promised SOON tokens be seen? I can't find them on my soonaverse.com account.

[2022-09-20 15:14] TFTIzaac commented on #814
Hi Shonuff, sorry for the late reply, yes please. We have purchased the NFT.

[2022-09-21 00:10] shonuffy commented on #850
I've approved your badge, please complete the NFT purchase

[2022-09-21 00:11] shonuffy commented on #877
Thank you. Could you please confirm you applied for the badge. https://soonaverse.com/award/0x4d02b346167cca51bec4a20576dd4c75a5a35ec9/participants

[2022-09-21 00:11] shonuffy commented on #879
Your badge has been approved, please purchase the TLP KYC NFT

[2022-09-21 00:12] shonuffy commented on #814
Thank you

[2022-09-21 14:40] LowMcCarey commented on #850
Ok thx. It works :)

[2022-09-22 10:09] Opensailor6927 commented on #873
Be patient frend

[2022-09-23 18:15] #731 closed

[2022-09-23 18:16] shonuffy commented on #735
Congratulations, you will be issued the KYC applicant award on September 26. This will give you time to set up your token and launch once Shimmer goes live on the 28th.

Please go to wen2.soonaverse.com to test out the system to learn how to configure your token set up and launch strategy. Any mistakes you make on the mainnet CANNOT be reversed. Again, we highly recommend you go through this test

[2022-09-23 18:16] #769 closed

[2022-09-23 18:17] shonuffy commented on #782
Congratulations, you will be issued the KYC applicant award on September 26. This will give you time to set up your token and launch once Shimmer goes live on the 28th.

Please go to wen2.soonaverse.com to test out the system to learn how to configure your token set up and launch strategy. Any mistakes you make on the mainnet CANNOT be reversed. Again, we highly recommend you go through this test

[2022-09-23 18:17] shonuffy commented on #804
Congratulations, you will be issued the KYC applicant award on September 26. This will give you time to set up your token and launch once Shimmer goes live on the 28th.

Please go to wen2.soonaverse.com to test out the system to learn how to configure your token set up and launch strategy. Any mistakes you make on the mainnet CANNOT be reversed. Again, we highly recommend you go through this test

[2022-09-23 18:17] shonuffy commented on #812
Congratulations, you will be issued the KYC applicant award on September 26. This will give you time to set up your token and launch once Shimmer goes live on the 28th.

Please go to wen2.soonaverse.com to test out the system to learn how to configure your token set up and launch strategy. Any mistakes you make on the mainnet CANNOT be reversed. Again, we highly recommend you go through this test

[2022-09-23 18:18] shonuffy commented on #817
Congratulations, you will be issued the KYC applicant award on September 26. This will give you time to set up your token and launch once Shimmer goes live on the 28th.

Please go to wen2.soonaverse.com to test out the system to learn how to configure your token set up and launch strategy. Any mistakes you make on the mainnet CANNOT be reversed. Again, we highly recommend you go through this test

[2022-09-23 18:19] shonuffy commented on #814
Congratulations, you will be issued the KYC applicant award on September 26. This will give you time to set up your token and launch once Shimmer goes live on the 28th.

Please go to wen2.soonaverse.com to test out the system to learn how to configure your token set up and launch strategy. Any mistakes you make on the mainnet CANNOT be reversed. Again, we highly recommend you go through this test

[2022-09-23 18:19] shonuffy commented on #829
Congratulations, you will be issued the KYC applicant award on September 26. This will give you time to set up your token and launch once Shimmer goes live on the 28th.

Please go to wen2.soonaverse.com to test out the system to learn how to configure your token set up and launch strategy. Any mistakes you make on the mainnet CANNOT be reversed. Again, we highly recommend you go through this test

[2022-09-23 23:48] shonuffy commented on #735
@mexaverso

[2022-09-23 23:48] shonuffy commented on #782
@priceactionbars

[2022-09-23 23:49] shonuffy commented on #804
@michaelqtodd

[2022-09-23 23:49] shonuffy commented on #812
@fanyinan2008

[2022-09-23 23:49] shonuffy commented on #814
@TFTIzaac

[2022-09-23 23:49] shonuffy commented on #817
@TheGoldenRat

[2022-09-23 23:50] shonuffy commented on #819
@calosan24 Please respond to let me know this still an active request

[2022-09-23 23:50] shonuffy commented on #825
@TomRana Please respond to let me know this is still an active request

[2022-09-23 23:50] shonuffy commented on #829
@iotahouse

[2022-09-23 23:52] shonuffy commented on #850
Please let me know if you are continuing through the process.

[2022-09-23 23:52] shonuffy commented on #877
@fradesi Please respond to let me know if this is an active request.

[2022-09-23 23:53] shonuffy commented on #879
@PeterPanHH Please respond to let me know this is an active request.

[2022-09-24 03:21] #867 closed

[2022-09-24 03:21] #878 closed

[2022-09-24 03:21] #531 closed

[2022-09-24 03:21] #746 closed

[2022-09-24 03:21] #859 closed

[2022-09-24 03:21] #858 closed

[2022-09-24 03:21] #860 closed

[2022-09-24 03:21] #852 closed

[2022-09-24 03:21] #872 closed

[2022-09-24 03:21] #864 closed

[2022-09-24 07:36] fradesi commented on #877
Yes this is an active request!

Il giorno sab 24 set 2022 alle 01:52 shonuffy ***@***.***> ha
scritto:

[2022-09-24 10:47] LowMcCarey commented on #850
I have completed the NFT purchase. What would be the next step now? :)

[2022-09-24 14:54] csxiong opened #880 "[Bug] Infinite repeat fetching of items on some Collections pages when scrolling down."
**Describe the bug**
In some collection pages, when the total number of items that should be displayed on the page exceeds the number of items that can be fetched in a single retrieval, the drop-down fetching will result in the infinite fetching of duplicate items.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [this collection](https://soonaverse.com/collection/0xa54bb6b25d6e0853eade

[2022-09-24 15:05] adamunchained commented on #880
This seems to be an issue with infinet scroll.

[2022-09-24 15:38] adamunchained commented on #880
This was fixed and it'll be in prob in 20 min. It was due migration to new modular firebase functions.

[2022-09-24 15:38] #880 closed

[2022-09-24 22:30] TheGoldenRat commented on #817
Thanks.

[2022-09-25 09:45] priceactionbars commented on #782
Hey shonuff

I am a bit confused what you mean to set up our token...?

Our token was already processed. When we get the award tomorrow, will it be just a one click to launch? Or will it be automatically launched on 28 september with othet projects, So we don't have to do anything?

Kind regards

[2022-09-25 19:57] shonuffy commented on #782
Are you sure this wasn't in wen2.soonaverse.com? That is a test server and doesn't impact your mainnet account.

[2022-09-25 20:09] shonuffy commented on #850
Our KYC vendor will be contacting you via email.

[2022-09-26 01:54] csxiong opened #881 "Routing error of back button of member page in some cases."
**Describe the bug**
In some cases, after clicking a certain NFT on the member page, clicking the back button, the route incorrectly jumps to the tokens page instead of the member page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[member page](https://soonaverse.com/member/0x0fc1e3b37b572ba462a8d9c7f781af246876ab64/nfts)'
2. Click on 'any nft'
3. Click on 'Back'
4. See error: rout

[2022-09-26 18:10] shonuffy commented on #812
@fanyinan2008 Can you please apply for this badge so I can give you access to the feature? https://soonaverse.com/award/0x061823d158d44ddc1703e9844586962e0e34801c/participants

[2022-09-26 18:13] shonuffy commented on #735
@mexaverso Please apply for this badge. https://soonaverse.com/award/0x061823d158d44ddc1703e9844586962e0e34801c/participants

[2022-09-26 18:22] shonuffy commented on #814
Can you please apply for this badge. https://soonaverse.com/award/0x061823d158d44ddc1703e9844586962e0e34801c/participants

[2022-09-26 18:23] shonuffy commented on #817
@TheGoldenRat You are good to go

[2022-09-26 18:28] #817 closed

[2022-09-26 18:28] #782 closed

[2022-09-26 18:29] #804 closed

[2022-09-26 18:30] #814 closed

[2022-09-26 18:30] #829 closed

[2022-09-27 03:13] fanyinan2008 commented on #812
Hi, thank you for your Email, I have applied.
Thanks. Regards

shonuffy ***@***.***> 于2022年9月27日周二 01:10写道：

[2022-09-27 03:34] mexaverso commented on #735
Listo! (Done :D )
Shouldn´t my token be shown in https://wen2.soonaverse.com/tokens/launchpad ? ( i don´t see it). When you say ..."to test out the system to learn how to configure your token set up and launch strategy does that mean that I shall see other token´s configuration or shall I wait to my token to be shown? Thanks!

[2022-09-27 05:10] #812 closed

[2022-09-27 05:12] shonuffy commented on #735
No, wen2 is a testnet. It where you practice the set up.

You can now configure your token at Soonaverse.com. Please remember when configuring your token that you cannot mint the token if you want to use airdrop / launchpad. If you mint it you have to wait until we deliver support for airdrop/launchpad minted tokens.

[2022-09-27 05:12] #735 closed

[2022-09-28 15:06] Karaarl opened #883 "[Payment Issue]:"
### Discord Name

Karaarl#1738

### Soonaverse Profile Id

0x7bFF622CbFa64fdc197F8412bd96b13AD2728c97

### Payment Action

Other (Please describe in comments)

### Payment Problem

Other (Please describe in comments)

### Wallet Type

FireFly

### Wallet Version

2.0.0 Shimmer FireFly

### Payment Sent to Address

smr1qpwuwtz9fhx6gv8jfgue7pp6rfl40nu0kgsj6cwrlhywcs0s5uegweh7lj6

### Amount Sent

10

[2022-09-28 20:03] Razorbob opened #886 "IP / DMCA Request:"

[2022-09-28 20:04] Razorbob commented on #886
yeah I fucked

[2022-09-28 20:04] #886 closed

[2022-09-28 21:56] Razorbob opened #887 "[TLP]: Fjubots"
### Email

vincent.dibon@fjubots.io

### Company Name

Fjubots

### Token Link

https://soonaverse.com/token/0x7e3f0f240b33a151b6302f108eb09e7b6abbbc19/overview

### Your Position

Founder / Co-Founder

### Name

Vincent Dibon

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-09-29 01:22] csxiong opened #888 "[bug] Deep link error of tanglepay when open sale order in Fee/Smr pair"
**Describe the bug**
Deep link error of tanglepay when open sale order in Fee/Smr pair. The deep link opened at this point shows the wrong sending currency and amount, which will result in incorrect transactions and trades.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Fee/smr trading page
2. Click on 'sell tab' and make a sell order
3. Review and sell Fee
4. Check the tanglepay butt

[2022-09-29 02:22] adamunchained commented on #888
@daihanqiao - do you guys now support deep link for native tokens?

[2022-09-29 03:54] adamunchained commented on #888
Added support for deep link that was given to me by Firefly team but there seems to be some issues in the wallet.

[2022-09-29 07:16] csxiong commented on #888
not firefly deeplink, it's tanglepay deeplink.

[2022-09-29 16:02] f15hfood opened #889 "Collection not visible in search or filter"
**Describe the bug**
Hi Soonavese Team!
My collection is not visible in the collection search, nor I can add the collection in filter options in new created collections.
[Collection](https://soonaverse.com/collection/0x99331bc76b32037fbbc6442f3bd8031b64ce35d6)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Marketplace
2. Click on 'Collections'
3. Search for 'TangleBees'
4. See nothing

[2022-09-29 16:45] mexaverso opened #890 "[TLP]:"
### Email

mexaverso@gmail.com

### Company Name

PowerClass DAO

### Token Link

https://soonaverse.com/token/0xc87f27644255b2e5cf7ac15f36c1a7076442bfd6/metrics

### Your Position

Founder / Co-Founder

### Name

Armando Rosales

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-09-29 21:03] andyfront0 commented on #883
Same problem. Sent $FEE to Soonaverse without expiration time but forgot to set gift deposit. Now unclaimed and stuck. smr1qpctnzj5lzxu5sqfe7ty3akukjmnwvp9hnqvsatqyxd4yeyyhkmrwvk9l62

[2022-09-29 21:28] adamunchained commented on #883
there is no way for us to refund it. We have no funds to do it. You have to make sure you tick "git storage deposit"

[2022-09-29 21:28] #883 closed

[2022-09-29 21:39] shonuffy opened #891 "Please update "Additional Requirements" header/link on the Token creation page"
Please change the "Additional Requirements" section to

Token Sale Requirements
To create a public sale or use the Token Exchange you must complete our KYC process.

Button text: Begin Process

<img width="1427" alt="Screen Shot 2022-09-29 at 11 34 28 AM" src="https://user-images.githubusercontent.com/80289564/193146349-d299f730-16df-4456-b6f1-4c12f833989f.png">

Also, since we changed the form an

[2022-09-29 21:43] adamunchained commented on #891
updated text/title.It'll be in prod within 1h.

Moving it to the end will be a bigger effort for us right now. Let's do it as separate task potentially.

TBH - they kinda do both in parallel. They don't also have to fill it up if they just want to use our minting function.

[2022-09-29 21:43] #891 closed

[2022-09-29 21:45] shonuffy commented on #891
Thanks for the update

[2022-09-30 06:36] Travetown opened #892 "Warning when withdrawing NFT's"
Withdrawing NFT's works great! But a warning should be integrated until Firefly can display NFT's. At the moment these NFT's are "disappeared". This could lead to confusion for many users.

[2022-09-30 06:38] Travetown commented on #892
How the hell does the "invalid" label get there

[2022-09-30 12:03] adamunchained commented on #892
It just default template you selected on Github. Don't worry.

We have added warning just now.

[2022-09-30 12:03] #892 closed

[2022-09-30 15:25] Travetown opened #894 "IOTA and SRM - Protect addresses"
I would like to see the verified addresses of IOTA and SMR not visible to all. There is no reason for that and some privacy is quite nice after all.
Wouldn't it be possible to open this area only for the owner of the account? For example, it could happen that someone collects addresses this way and unloads his ShitCoins. Besides, no one should care how much SMR or IOTA I hold on my private wallet.

[2022-09-30 16:01] SonicBoomz commented on #894
👍

[2022-09-30 16:11] mexaverso commented on #890
Problem solved through discord (Now I have the respective buttons) Thanks!

[2022-09-30 16:11] #890 closed

[2022-09-30 17:30] mexaverso opened #895 "[TLP]:"
### Email

mexaverso@gmail.com

### Company Name

Mexaverso DAO

### Token Link

https://soonaverse.com/token/0xc87f27644255b2e5cf7ac15f36c1a7076442bfd6/metrics

### Your Position

Founder / Co-Founder

### Name

Armando Rosales

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-09-30 19:49] adamunchained commented on #895
You can just edit the token yourself if your the guardian.

[2022-09-30 19:49] #895 closed

[2022-10-01 10:11] LowMcCarey commented on #850
How long do I have to wait for contact now? :)

[2022-10-01 11:35] mexaverso commented on #895
Please take a look at the screen caption below/attached. Changing the name
in the given option doesn`t performs "completely": Thanks.
[image: image.png]

El vie, 30 sept 2022 a la(s) 14:49, Adam ***@***.***)
escribió:

[2022-10-01 11:38] mexaverso opened #896 "[TLP]:"
### Email

mexaverso@gmail.com

### Company Name

mexaverso dao

### Token Link

https://soonaverse.com/token/0xc87f27644255b2e5cf7ac15f36c1a7076442bfd6/overview

### Your Position

Founder / Co-Founder

### Name

Armando Rosales

### Have you already done a public sale?

No

### Files and other information

[code]

[2022-10-01 15:47] cyberpolar commented on #873
Did you send the soon token? I haven't received it yet. I am one of the winners in the Mario BAE trading tests area.

[2022-10-01 16:20] Danlino commented on #873
I don’t see him in the profile either. I’m the same way.

[2022-10-01 19:52] shonuffy commented on #850
I sent a reminder to the vendor, will try to have this wrapped up quickly. Thank you for your patience.

[2022-10-02 06:55] punikus opened #897 "[Payment Issue]: no refund"
### Discord Name

punikus#6149

### Soonaverse Profile Id

0xa965f9D3020Dde6F9991018987C0a365a4c7a025

### Payment Action

Other (Please describe in comments)

### Payment Problem

Other (Please describe in comments)

### Wallet Type

FireFly

### Wallet Version

2.0.0

### Payment Sent to Address

smr1qpr9mewrkjut9n2lzwluz5vxhmpz7yukz8f29kfrvpvfhgvsravcy74ufmq

### Amount Sent

10000 FEE

### Pay

[2022-10-02 14:31] TanglePhunks opened #898 "migrating a collection to shimmer loses the ability to modify it"
**Describe the bug**
After migrating to the Shimmer network, you can no longer customize the collection.
Edit Button is missing.
![editbuttonmissing](https://user-images.githubusercontent.com/114867515/193459283-1ed08a5d-983c-47df-b852-dd205924b7f7.PNG)

E.g. change discounts

**To Reproduce**
Steps to reproduce the behavior:
Just press the "Mint on Shimmer" Button. (Only possible once per Collect

[2022-10-03 07:11] RodrigoMarroquin opened #899 "[Payment Issue]:"
### Discord Name

@RodrigoM#7380

### Soonaverse Profile Id

0x272Da4D67C344625fe338c1615ED6bab24A81E6A

### Payment Action

Other (Please describe in comments)

### Payment Problem

I made a purchase outside of the time window and did not get a refund.

### Wallet Type

Other (Please describe in comments)

### Wallet Version

1.6.5

### Payment Sent to Address

iota1qpsc58pt23k9ua8trnalnddz9z634u

[2022-10-03 13:28] adamunchained commented on #899
Payment has been refunded to sender. You will have to contact Bitforex support to find your payment.

See refund: https://thetangle.org/message/cdaff01e10ce5f10c7d978f53e68def492bc1f370327ee225be2d093a8007ea9

[2022-10-03 13:28] #899 closed

[2022-10-04 12:12] 2g4y1 commented on #873
0x910cc0ec4ac0c3f7f39ca3ba57c6a6781951e029

[2022-10-04 22:05] centercirclesolutions commented on #873
@Danlino I did not see your name on the github list for issues

[2022-10-04 22:08] centercirclesolutions commented on #873
@celarium3945 please add your MM profile Id

[2022-10-04 22:08] centercirclesolutions commented on #873
@JONWOLF3 Please add your MM profile Id

[2022-10-04 22:09] centercirclesolutions commented on #873
@antonionardella please add you MM profile Id

[2022-10-05 08:24] BigDom4Reelz commented on #873
Gratefully received, thanks! Looking forward to staking it!

[2022-10-05 11:22] celarium3945 opened #901 "window change from one size to another depending on time"
**Describe the bug**
History window change from one size to another depending on time
better reduced the police and the window size to get it stable and everything on one page.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
no windows size change. all on one page

**Screenshots**
![image](https://user-images.githubusercontent.com/103221824/194048661-1ca2350d-b505-48bb-b9

[2022-10-06 18:39] antonio10101010 opened #906 "[Payment Issue]:"
### Discord Name

@0x6636B9a083E31bF1e12c2CA211c30AD158869398

### Soonaverse Profile Id

0x6636B9a083E31bF1e12c2CA211c30AD158869398

### Payment Action

Other (Please describe in comments)

### Payment Problem

Other (Please describe in comments)

### Wallet Type

TanglePay

### Wallet Version

1.4.4

### Payment Sent to Address

iota1qzceyt9ql63vscy6duwm30gc3t276xkjw47kgg5xrp9ksuvyufnvgfdgjqf

#

[2022-10-07 00:37] adamunchained commented on #874
Was this CLASSIC collection?

[2022-10-07 00:38] adamunchained commented on #898
We'll add enhancement for an ability to edit discounts and access for unsold NFTs in next sprint.

[2022-10-07 00:39] adamunchained commented on #898
@humaint - are you happy if we just re-use edit collection but only allow those two fields to be editable?

[2022-10-07 00:42] adamunchained commented on #897
Looking at transaction you've set storage deposit return. We're unable to accept these payments as we don't have funds to fund the transaction. Unfortunately looking at your transfer it'll be now stuck. You should never not gift storage deposit without expiry.

<img width="808" alt="Screen Shot 2022-10-06 at 5 40 36 PM" src="https://user-images.githubusercontent.com/130610/194442717-c256146b-9bd7-

[2022-10-07 00:42] #897 closed

[2022-10-07 00:44] adamunchained commented on #906
Transaction has been refunded to your address iota1qp2gve2ch6j690eur0masdt65p9s2hc4n9j2gd6g7g7f7a875ja52er4pf8 on profile https://soonaverse.com/member/0x6636B9a083E31bF1e12c2CA211c30AD158869398/activity

See transaction: https://thetangle.org/message/6ab3c2c7e3622e251b40a574cfa6e8473dd1e747074832c025bbcd022d615382

[2022-10-07 00:44] #906 closed

[2022-10-07 07:42] BigDom4Reelz commented on #874
It was a Generated collection. As there is an option to make it a limited collection or not I'd assumed I'd still be able to add to the collection. Is it only possible for classic?

[2022-10-08 12:44] AT22SOD opened #908 "[Payment Issue]:"
### Discord Name

SOD#9530

### Soonaverse Profile Id

0x40764c5528ef04a195b79aa7bd1db38e2676db7f

### Payment Action

Other (Please describe in comments)

### Payment Problem

Other (Please describe in comments)

### Wallet Type

FireFly

### Wallet Version

2.0.0

### Payment Sent to Address

smr1qq4hndym40eu068qauxqgldn8htv6xl8gxyeh236t8l39pma05ecj37g0w0

### Amount Sent

_No response_

### Pay

[2022-10-09 18:47] adamunchained opened #909 "Export Colum and Filter Function @ Transaction History Page"
### Discussed in https://github.com/soonaverse/soonaverse-dao/discussions/903

<div type='discussions-op-text'>

<sup>Originally posted by **schampar** October  6, 2022</sup>
In the past with just one currency (miota) it was ok, but now the problem is, that the export doesn't show the currency. So can you ad the currency into a column to, best as separated. As you see, there is a "tangle" column,